$secondaryColor-light: #99AEBB;
$secondaryColor-dark: #364954;
$mainColor: #15AFE1;
$textColor: #E6F4F1;
$successColor: #22BB33;
$starColor: rgb(245, 197, 24);
$secondaryColor-light-semiTransparent: rgba(153, 174, 187, 0.5);
$secondaryColor-dark-semiTransparent: rgba(54, 73, 84, 0.5);
$textColor-semiTransparent: rgba(230, 244, 241, 0.5)
//custom theme
/*$secondaryColor-light: #DAF3FF;
$secondaryColor-dark: #607999;
$mainColor: #ff4400;
$textColor: #FFF6F1;*/
//green theme
/*$secondaryColor-light: #A4AE9E;
$secondaryColor-dark: #40493B;
$mainColor: #4DFF00;
$textColor: #F2FCEC;*/
//aot theme
/*$secondaryColor-light: #d2c4ae;
$secondaryColor-dark: #403535;
$mainColor: #294023;
$textColor: #ffeccf;*/
//rust theme
/*$secondaryColor-light: #006E61;
$secondaryColor-dark: #522700;
$mainColor: #FCBA03;
$textColor: #DFE0DF;*/
//electric theme
/*$secondaryColor-light: #AEAC99;
$secondaryColor-dark: #494738;
$mainColor: #FFFF33;
$textColor: #FCFAEE;*/
//orange theme
/*$secondaryColor-light: #DFE0DF;
$secondaryColor-dark: #693B22;
$mainColor: #FF6700;
$textColor: #FCFAEE;*/
//light green theme
/*$secondaryColor-light: #9DB0A2;
$secondaryColor-dark: #3B4A3F;
$mainColor: #03FC90;
$textColor: #FCFAEE;*/
//IMDb theme
/*$secondaryColor-light: #121212;
$secondaryColor-dark: rgb(31,31,31);
$mainColor: rgb(245, 197, 24);
$textColor: #fcf7f7;*/