$secondaryColor-light: #99AEBB;
$secondaryColor-dark: #364954;
$mainColor: #15AFE1;
$textColor: #E6F4F1;
$successColor: #22BB33;
$starColor: rgb(245, 197, 24);
$secondaryColor-light-semiTransparent: rgba(153, 174, 187, 0.5);
$secondaryColor-dark-semiTransparent: rgba(54, 73, 84, 0.5);
$textColor-semiTransparent: rgba(230, 244, 241, 0.5)