<div class="row bg-mainColor collapseMenu">
    <div class="col-md-3 col-sm-12">
        <ul>
            <li><h3><i class="fas fa-home"></i> Home</h3></li>
        </ul>
    </div>
    <div class="col-md-3 col-sm-12">
        <ul>
            <li><h3><i class="fas fa-film"></i> Movies</h3></li>
            <li>Top250</li>
            <li>MostFamous</li>
            <li>In theaters</li>
            <li>Soon to come</li>
        </ul>
    </div>
    <div class="col-md-3 col-sm-12">
        <ul>
            <li><h3><i class="fas fa-tv"></i> TV Series</h3></li>
            <li>Top250</li>
            <li>MostFamous</li>
        </ul>
    </div>
    <div class="col-md-3 col-sm-12">
        <ul>
            <li><h3><i class="fas fa-search"></i> Search</h3></li>
            <li>All</li>
            <li>Movies</li>
            <li>TV series</li>
            <li>Keywords</li>
        </ul>
    </div>
</div>