<partial name="_GenresShowcasePartial" />

<footer class="footer text-muted" id="pageFooter">
    <div class="row mx-auto">
        <div class="col-lg-4 col-sm-12">
            <h5>Filmly</h5>
            <hr />
            <h6>
                <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </h6>
            <h6>
                <a asp-area="" asp-controller="Home" asp-action="Privacy">About</a>
            </h6>
            <h6>
                <a asp-area="" asp-controller="Home" asp-action="Privacy">Building Filmly</a>
            </h6>
        </div>
        <div class="col-lg-4 col-sm-12">
            <h5>Used:</h5>
            <hr />
            <p id="usedTechnologiesMini">
                <a href="https://imdb-api.com/" target="_blank" class="NoLoader" rel="noopener"><img src="~/img/logos/technologies/imdb-api.png" class="tech-icon" height="40" width="40" alt="IMDb-API" /></a>
                <a href="https://dotnet.microsoft.com/en-us/apps/aspnet" target="_blank" class="NoLoader" rel="noopener"><img src="~/img/logos/technologies/aspnet.png" class="tech-icon" height="40" width="40" alt="ASP.NET" /></a>
                <a href="https://cloudinary.com/" target="_blank" class="NoLoader" rel="noopener"><img src="~/img/logos/technologies/cloudinary.png" class="tech-icon" height="40" width="40" alt="Cloudinary" /></a>
                <a href="https://getbootstrap.com/" target="_blank" class="NoLoader" rel="noopener"><img src="~/img/logos/technologies/bootstrap.png" class="tech-icon" height="40" width="40" alt="Bootstrap" /></a>
            </p>
            <p>
                and <span type="button" data-toggle="modal" data-target="#usedTechnologiesModal" class="NoLoader"><b>more...</b></span>
            </p>
        </div>
        <div class="col-lg-4 col-sm-12">
            <h5 class="socialMediaTitle">You can find me at</h5>

            <ul id="socialMedias">
                <li>
                    <div class="popup">
                        <span class="popuptext" id="discordPopup">Copied discord name to clipboard!</span>
                    </div>
                    <a class="NoLoader" id="discordLink" onclick="copyDiscordName()">
                        <i class="fab fa-discord"></i>
                    </a>
                </li>
                <li>
                    <a class="NoLoader" href="https://www.instagram.com/ivailo_chavdarov/?hl=bg" aria-label="instagram" rel="noopener" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a class="NoLoader" href="https://www.facebook.com/ivailo.chavdarov.90" aria-label="facebook" rel="noopener" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>

                </li>
                <li>
                    <a class="NoLoader" href="https://github.com/IvailoChavdarov" aria-label="github" rel="noopener" target="_blank">
                        <i class="fab fa-github-alt"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="copyright-container">
        <span>Made in <a href="https://en.wikipedia.org/wiki/Smolyan">Smolyan</a></span>
        <img src="~/img/logos/logo-transparent.svg" height="40" width="160" alt="Filmly" />
        &copy; 2021/2022 - Filmly
        @*add https://icons8.com/ to footer*@
    </div>
</footer>
<partial name="_UsedTechnologiesModal" />
