<div class="showcaseSectionTitle">
    <div class="right-border">
        <hr />
    </div>
    <h1>Check these top 50s from genre</h1>
    <div class="left-border">
        <hr />
    </div>
</div>
<div class="genreSlider showcase">
    <a asp-controller="titles" asp-action="ranking" asp-route-id="action" class="genreCard red">
        <div class="card mb-3">
            <h5 class="genreName">Action</h5>
            <div class="card-body">
                <p class="card-text genreDesciption">Fast-paced, including a lot of action like fight scenes, chase scenes, and slow-motion shots. These high-octane films are more about the execution of the plot rather than the plot itself.</p>
            </div>
        </div>
    </a>
    <a asp-controller="titles" asp-action="ranking" asp-route-id="fantasy" class="genreCard blue">
        <div class="card mb-3">
            <h5 class="genreName">Fantasy</h5>
            <div class="card-body">
                <p class="card-text genreDesciption">Films that belong to the fantasy genre with fantastic themes, usually magic, supernatural events, mythology, folklore, or exotic fantasy worlds.</p>
            </div>
        </div>
    </a>
    <a asp-controller="titles" asp-action="ranking" asp-route-id="anime" class="genreCard orange">
        <div class="card mb-3">
            <h5 class="genreName">Anime</h5>
            <div class="card-body">
                <p class="card-text genreDesciption">Style of animation originating in Japan that is characterized by stark colorful graphics depicting vibrant characters in action-filled plots often with fantastic or futuristic themes.</p>
            </div>
        </div>
    </a>
    <a asp-controller="titles" asp-action="ranking" asp-route-id="comedy" class="genreCard green">
        <div class="card mb-3">
            <h5 class="genreName">Comedy</h5>
            <div class="card-body">
                <p class="card-text genreDesciption">Genre of fiction that consists of discourses or works intended to be humorous or amusing by inducing laughter.</p>
            </div>
        </div>
    </a>
    <a asp-controller="titles" asp-action="ranking" asp-route-id="family" class="genreCard yellow">
        <div class="card mb-3">
            <h5 class="genreName">Family</h5>
            <div class="card-body">
                <p class="card-text genreDesciption">Films aiming to appeal not only to children, but to a wide range of ages.</p>
            </div>
        </div>
    </a>
    <a asp-controller="titles" asp-action="ranking" asp-route-id="horror" class="genreCard black">
        <div class="card mb-3">
            <h5 class="genreName">Horror</h5>
            <div class="card-body">
                <p class="card-text genreDesciption">Horror films may incorporate incidents of physical violence and psychological terror, mystery thrillers that use atmosphere to build suspense.</p>
            </div>
        </div>
    </a>
    <a asp-controller="titles" asp-action="ranking" asp-route-id="romance" class="genreCard pink">
        <div class="card mb-3">
            <h5 class="genreName">Romance</h5>
            <div class="card-body">
                <p class="card-text genreDesciption">Love stories that center around two protagonists exploring some of the elements of love like relationships, sacrifice, marriage, obsession, or destruction.</p>
            </div>
        </div>
    </a>
    <a asp-controller="titles" asp-action="ranking" asp-route-id="documentary" class="genreCard brown">
        <div class="card mb-3">
            <h5 class="genreName">Documentary</h5>
            <div class="card-body">
                <p class="card-text genreDesciption">Non-fictional motion-picture intended to "document reality, primarily for the purposes of instruction, education, or maintaining a historical record".</p>
            </div>
        </div>
    </a>
    <a asp-controller="titles" asp-action="ranking" asp-route-id="drama" class="genreCard light-grey">
        <div class="card mb-3">
            <h5 class="genreName">Drama</h5>
            <div class="card-body">
                <p class="card-text genreDesciption">Genre that features stories with high stakes and a lot of conflicts, plot-driven and demand that every character and scene move the story forward.</p>
            </div>
        </div>
    </a>
    @*<a asp-controller="titles" asp-action="themedranking" asp-route-id="documentary" class="genreCard brown">
            <div class="card mb-3">
                <h5 class="genreName">Documentary</h5>
                <div class="card-body">
                    <p class="card-text genreDesciption">Non-fictional motion-picture intended to "document reality, primarily for the purposes of instruction, education, or maintaining a historical record".</p>
                </div>
            </div>
        </a>*@
</div>
