@{string randomTitleId = RandomTitle.GetRandomTitleId();}
<nav id="topNav" class="navbar navbar-expand-lg">

    <a class="navbar-brand" asp-controller="home" asp-action="index" id="homeIcon"><img src="~/img/logos/logo-transparent.svg" alt="Filmly" height="40" width="160" /></a>
    <div class="collapse navbar-collapse" id="navBarContent">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item hiddenOnMobile">
                <button style="all:unset" class="nav-link NoLoader" id="homeDropdownButton"><i class="fas fa-caret-square-up" id="homeDropdownIndicator"></i> Menu</button>
            </li>
            <li class="nav-item hiddenOnTablet">
                <a class="nav-link" asp-controller="titles" asp-action="details" asp-route-id="@randomTitleId" id="randomButton"><i class="fas fa-random"></i> Random</a>
            </li>
            <li class="nav-item hiddenOnBigScreen" id="themeSwitcherMobile" onclick="switchTheme()" title="Switch theme">
                <i class="fas fa-lg" id="themeIdenticatorMobile"></i>
            </li>
        </ul>

    </div>
    <partial name="_SearchPartial" />
    <partial name="_UserNavigationPartial" />
    <button id="themeSwitcher" class="NoLoader" onclick="switchTheme()" title="Switch theme"><i class="fas fa-lg" id="themeIdenticator"></i></button>
    <div id="mobileMenuToggler" onclick="toggleMobileMenu()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

</nav>
<nav id="topNavDropdown">
    <hr class="hiddenOnMobile" />
    <content class="container row mx-auto hiddenOnMobile">
        <div class="col-lg-3 col-sm-6 justify-content-center" style="width: 25%; flex: 0 0 25%; max-width: 25%; ">
            <a asp-controller="home" asp-action="index"><h4><i class="fas fa-sm fa-home text-mainColor"></i><span>Home</span></h4></a>
            <a asp-controller="home" asp-action="history" class="dropdownNav-link">History</a>
            <a asp-controller="home" asp-action="interestingfacts" class="dropdownNav-link">Interesting facts</a>
            <a asp-controller="home" asp-action="news" class="dropdownNav-link">News</a>
        </div>
        <div class="col-lg-3 col-sm-6 justify-content-center" style="width: 25%; flex: 0 0 25%; max-width: 25%; ">
            <a asp-controller="titles" asp-action="index"><h4><i class="fas fa-sm fa-film text-mainColor"></i><span>Movies</span></h4></a>
            <a asp-controller="titles" asp-action="ranking" asp-route-id="top-250-movies" class="dropdownNav-link">Top 250 movies</a>
            <a asp-controller="titles" asp-action="ranking" asp-route-id="top-100-most-popular-movies" class="dropdownNav-link">Most popular movies</a>
        </div>
        <div class="col-lg-3 col-sm-6 justify-content-center" style="width: 25%; flex: 0 0 25%; max-width: 25%; ">
            <a asp-controller="titles" asp-action="ranking" asp-route-id="top-250-tv-series"><h4><i class="fas fa-sm fa-tv text-mainColor"></i><span>TV series</span></h4></a>
            <a asp-controller="titles" asp-action="ranking" asp-route-id="top-250-tv-series" class="dropdownNav-link">Top 250 TV series</a>
            <a asp-controller="titles" asp-action="ranking" asp-route-id="top-100-most-popular-tv-series" class="dropdownNav-link">Most popular TV series</a>
        </div>
        <div class="col-lg-3 col-sm-6 justify-content-center" style="width: 25%; flex: 0 0 25%; max-width: 20%; z-index: 100; position: relative">
            <a asp-controller="titles" asp-action="ranking" asp-route-id="top-250-anime"><h4><i class="fas text-mainColor"><span>A</span></i><span>Anime</span></h4></a>
            <a asp-controller="titles" asp-action="ranking" asp-route-id="top-250-anime" class="dropdownNav-link">Top 250 anime</a>
            <a asp-controller="titles" asp-action="ranking" asp-route-id="top-100-most-popular-anime" class="dropdownNav-link">Most popular anime</a>
        </div>
    </content>
</nav>

<menu id="mobileMenu">
    <ul>
        <li class="nav-item hiddenOnBigScreen">
            <h5><i class="fas fa-sm fa-search text-mainColor"></i><span>Search</span></h5>
        </li>
        <li class="nav-item hiddenOnBigScreen">
            <form asp-controller="titles" asp-action="search" method="get">
                <input type="search" name="search" aria-label="Search" placeholder="Search for a title, actor or keyword">
                <button type="submit" aria-label="start search"><i class="fas fa-search fa-sm"></i></button>
            </form>
        </li>
        <hr />
        <li class="nav-item hiddenOnBigScreen">
            <a asp-controller="home" asp-action="index"><h5><i class="fas fa-sm fa-home text-mainColor"></i><span>Home</span></h5></a>
        </li>
        <li class="nav-item hiddenOnBigScreen">
            <a asp-controller="home" asp-action="history" class="dropdownNav-link">History</a>
        </li>
        <li class="nav-item hiddenOnBigScreen">
            <a asp-controller="home" asp-action="interestingfacts" class="dropdownNav-link">Interesting facts</a>
        </li>
        <li class="nav-item hiddenOnBigScreen">
            <a asp-controller="home" asp-action="news" class="dropdownNav-link">News</a>
        </li>
        <hr />
        <li class="nav-item hiddenOnBigScreen">
            <h5><i class="fas fa-sm fa-user text-mainColor"></i><span>Account</span></h5>
        </li>
        <li class="nav-item hiddenOnBigScreen">
            <a class="dropdownNav-link" asp-area="identity" asp-page="/account/manage/index">Manage</a>
        </li>
        <li class="nav-item hiddenOnBigScreen">
            <a class="dropdownNav-link" asp-controller="collection" asp-action="index">Watchlist</a>
        </li>
        <li class="nav-item hiddenOnBigScreen">
            <a class="dropdownNav-link" asp-controller="collection" asp-action="favourites">Favourites</a>
        </li>
        <li class="nav-item hiddenOnBigScreen">
            <form class="form-inline" asp-area="Identity" asp-page="/account/logout" asp-route-returnUrl="@Url.Action("index", "home", new { area = "" })">
                <button type="submit" class="nav-item" id="signOutButton-mobile">Sign out</button>
            </form>
        </li>
        <hr />
        <li class="nav-item hiddenOnBigScreen">
            <a asp-controller="titles" asp-action="index"><h5><i class="fas fa-sm fa-film text-mainColor"></i><span>Movies</span></h5></a>
        </li>
        <li class="nav-item hiddenOnBigScreen">
            <a asp-controller="titles" asp-action="ranking" asp-route-id="top-250-movies" class="dropdownNav-link">Top 250 movies</a>
        </li>
        <li class="nav-item hiddenOnBigScreen">
            <a asp-controller="titles" asp-action="ranking" asp-route-id="top-100-most-popular-movies" class="dropdownNav-link">Most popular movies</a>
        </li>
        <hr />
        <li class="nav-item hiddenOnBigScreen">
            <a asp-controller="titles" asp-action="ranking" asp-route-id="top-250-tv-series"><h5><i class="fas fa-sm fa-tv text-mainColor"></i><span>TV series</span></h5></a>
        </li>
        <li class="nav-item hiddenOnBigScreen">
            <a asp-controller="titles" asp-action="ranking" asp-route-id="top-250-tv-series" class="dropdownNav-link">Top 250 TV series</a>
        </li>
        <li class="nav-item hiddenOnBigScreen">
            <a asp-controller="titles" asp-action="ranking" asp-route-id="top-100-most-popular-tv-series" class="dropdownNav-link">Most popular TV series</a>
        </li>
        <hr />
        <li class="nav-item hiddenOnBigScreen">
            <a asp-controller="titles" asp-action="ranking" asp-route-id="top-250-anime"><h5><i class="fas text-mainColor"><span>A</span></i><span>Anime</span></h5></a>
        </li>
        <li class="nav-item hiddenOnBigScreen">
            <a asp-controller="titles" asp-action="ranking" asp-route-id="top-250-anime" class="dropdownNav-link">Top 250 anime</a>
        </li>
        <li class="nav-item hiddenOnBigScreen">
            <a asp-controller="titles" asp-action="ranking" asp-route-id="top-100-most-popular-anime" class="dropdownNav-link">Most popular anime</a>
        </li>
    </ul>
</menu>
