
<form asp-controller="movies" asp-action="index" method="get" class="form-inline hiddenOnMobile mr-auto" id="navSearchBar">
    <select name="type" id="searchTypeSelect">
        <option value="all">All</option>
        <option value="movies">Movies</option>
        <option value="series">Shows</option>
        <option value="keywords">Keywords</option>
        <option value="actors">Actors</option>
    </select>
        <input type="search" name="search" placeholder="Search" aria-label="Search">
        <button type="submit" aria-label="search"><i class="fas fa-search fa-sm"></i></button>
</form>
