<li class="nav-item show-mobile-block">
    <form asp-controller="movies" asp-action="index" method="get" class="form-inline">
        <select class="searchTypeInput" name="type">
            <option value="all">All</option>
            <option value="movies">Movies</option>
            <option value="series">Series</option>
            <option value="keywords">Keywords</option>
            <option value="actors">Actors</option>
        </select>
        <input class="form-control searchInput" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondaryColor my-2 my-sm-0 searchButton" type="submit"><i class="fas fa-search fa-sm"></i></button>
    </form>
    @*<a asp-controller="movies" asp-action="index" asp-route-search="s=" asp-route-type="all"><i class="fas fa-search fa-sm"></i> Search</a>*@
</li>