<div class="modal fade" id="usedTechnologiesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Technologies used:</h4>
                <button type="button" class="close NoLoader" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Languages:</h5>
                <p><i class="fab fa-html5"></i>HTML, <i class="fab fa-css3-alt"></i>CSS, <i class="fab fa-js-square"></i>JavaScript, C#</p>
                <hr />
                <h5>Data:</h5>
                <h6>APIs - <img src="~/img/logos/technologies/imdb-api.png" height="16" width="16" />IMDb-API</h6>
                <h6>Database - <img src="~/img/logos/technologies/sql.png" height="18" width="14" />SQL database, <img src="~/img/logos/technologies/json.png" height="18" width="14" />JSON files</h6>
                <h6>Image hosting - <img src="~/img/logos/technologies/cloudinary.png" height="16" width="16" />Cloudinary</h6>
                <h6>Additional - <img src="~/img/logos/technologies/news.png" height="13" width="16" />Google news</h6>
                <hr />
                <h5>Frameworks and libraries:</h5>
                <p><img src="~/img/logos/technologies/dot-net.png" height="14" width="14" />ASP.NET, Entity framework, Identity framework, JQuerry, <i class="fab fa-bootstrap"></i>Bootstrap, <i class="fab fa-font-awesome"></i>FontAwesome, <img src="~/img/logos/technologies/restsharp.png" height="16" width="16" />RestSharp, <img src="~/img/logos/technologies/newtonsoft.png" height="16" width="16" />Newtonsoft.JSON ...</p>
                <hr />
                <h5>Additional:</h5>
                <p><img src="~/img/logos/technologies/visualstudio.png" height="16" width="16" />Visual studio, <i class="fab fa-sass"></i>SASS, Razor syntax ...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary NoLoader closeButton" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>