@import "../Utility/_colors.scss";
@import "../Shared/animations.scss";
@import "../Utility/_timings.scss";
header.history-header {
    background: url(../../img/backgrounds/cinema-history.png);
    background-size: 100vw;
    height: 29vw;

    .dark-filter-wrap {
        background-color: rgba(0,0,0,0.6);
        height: 100%;
        color: $textColor;
        text-align: center;
        animation: fadeIn $renderAnimationTime;
        padding-top: 120px;
    }

    h1 {
        color: $textColor;
        font-weight: 700;
    }

    h2 {
        padding: 15px;
        padding-top: 25px;
        color: #BBD0DE;
        font-weight: 600;
    }

    h3 {
        color: $mainColor;
        margin-bottom: 0px;
        margin-top: 35px;
        padding-bottom: 15px;
        font-weight: 700;
    }
}
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    line-height: 1.5;
}

.wrapper {
    margin: 0 auto;
    padding: 25px 16.66% 50px;
    width: 100%;
    font-size:0px;
    p{
        font-size:large;
    }
}

article {
    position: relative;
    max-width: 1260px;
    margin: 0 auto;
}

.timeline {
    background-color: $textColor;
    overflow: hidden;
    animation: slideInFromLeft $renderAnimationTime;
    transition: background-color $changeThemeAnimationTime ease;
    color: $secondaryColor-dark;
    border: 2px solid transparent;
    border-top: none;

    .event-date {
        color: $secondaryColor-light;
    }

    h1, h3 {
        color: $mainColor;
    }

    p {
        vertical-align: top;
    }

    .milestone {
        margin-top: 20px;
    }

    h3 {
        margin-top: 20px;
    }

    &__nav {
        opacity: 0;
        position: fixed;
        z-index: 99;
        top: 0;
        transition: top .3s ease-out, opacity .3s linear;

        ul {
            list-style: none;
            list-style-position: inside;
            margin: 15px 0;

            li {
                margin: 15px 0;
                padding-left: 0;
                list-style-type: none;
                color: $secondaryColor-light;
                border-bottom: 1px dotted $secondaryColor-light;
                cursor: pointer;
                transition: all .3s ease-out, font-weight 0s ease;
                text-align: center;

                &.active {
                    font-weight: bold;
                    color: $mainColor;
                    border-bottom: 1px solid $mainColor;
                    transform: scale(1.2);
                }



                &.active:hover {
                    border-bottom: 1px solid $secondaryColor-dark;
                }

                &:hover {
                    color: $secondaryColor-dark;
                    border-bottom: 1px dotted $secondaryColor-dark;
                }
            }
        }
    }

    .history-introduction {
        font-size: initial;
    }
}
.breadcrumb{
    margin-bottom:0px;
}
.half {
    display: inline-block;
    width: 50%;
    margin: 0;
    padding: 0;
    font-size: large;
    height: 100%;
    color: $secondaryColor-dark;

    img {
        max-width: 100%;
        max-height: 40vw;
    }
}
p.half {
    padding-right: 10px;
}
.full {
    display: block;
    font-size: large;
    margin: 0;
    padding: 0;
    color: $secondaryColor-dark;
    overflow-wrap: break-word;
}

.milestone{
    margin-top:35px
}
h3{
    margin-top:15px;
    margin-bottom:15px;
}
.darkTheme {
    .timeline {
        background-color: $secondaryColor-dark;
        border: 2px solid $mainColor;
        .event-date {
            color: $secondaryColor-light;
        }
        p{
            color:$textColor;
        }
        .milestone{
            color:$textColor;
        }
        &__nav {
            ul {
                li {
                    color: $secondaryColor-light;
                    &.active {
                        color: $mainColor;
                        border-bottom: 1px solid $mainColor;
                    }



                    &.active:hover {
                        border-bottom: 1px solid $textColor;
                    }

                    &:hover {
                        color: $textColor;
                        border-bottom: 1px dotted $textColor;
                    }
                }
            }
        }
    }

}
@media only screen and (max-width : 1280px) {
    header.history-header {
        h3{
            display:none;
        }
    }

    .darkTheme {
        .timeline {
            border: none;
            
        }
    }

    .timeline {
        margin: 0;
        max-width: 100vw;
        border:none;
        border-bottom: 5px solid $mainColor;
        &__nav {
            display: none;
        }
    }
    .wrapper {
        padding: 30px;
        
    }
}

@media only screen and (max-width : 991px) {
    .wrapper {
        padding: 30px;
    }
    header.history-header {
        background: url('https://miro.medium.com/max/768/1*Lzjk71qN2KKvoGajU1tkiQ.jpeg');
        background-size: cover;
        height: fit-content;

        .dark-filter-wrap {
            padding-bottom: 25px;
            padding-top:25px;
        }

        h3 {
            display: initial;
        }
    }
    .half {
        width: 100%;
    }

    .half:not(p) {
        text-align: center;
    }
    .darkTheme {
        .timeline {
            border:none
        }
    }
    .timeline {
        &__nav {
            display: none;
        }
    }
}
