/*$secondaryColor-light: #DAF3FF;
$secondaryColor-dark: #607999;
$mainColor: #ff4400;
$textColor: #FFF6F1;

*/
/*$secondaryColor-light: #A4AE9E;
$secondaryColor-dark: #40493B;
$mainColor: #4DFF00;
$textColor: #F2FCEC;*/
/*$secondaryColor-light: #d2c4ae;
$secondaryColor-dark: #403535;
$mainColor: #294023;
$textColor: #ffeccf;*/
/*$secondaryColor-light: #006E61;
$secondaryColor-dark: #522700;
$mainColor: #FCBA03;
$textColor: #DFE0DF;*/
/*$secondaryColor-light: #AEAC99;
$secondaryColor-dark: #494738;
$mainColor: #FFFF33;
$textColor: #FCFAEE;*/
/*$secondaryColor-light: #DFE0DF;
$secondaryColor-dark: #693B22;
$mainColor: #FF6700;
$textColor: #FCFAEE;*/
/*$secondaryColor-light: #9DB0A2;
$secondaryColor-dark: #3B4A3F;
$mainColor: #03FC90;
$textColor: #FCFAEE;*/
body {
  overflow: hidden;
  height: 100vh; }

#eventsNav {
  width: 150px;
  display: inline-block;
  position: fixed;
  top: 0px;
  left: 0;
  /*height: 87.5vh;*/
  height: 100vh;
  overflow-y: scroll;
  text-align: center;
  z-index: 1; }
  #eventsNav ul {
    padding-left: 5px;
    padding-top: 70px; }
    #eventsNav ul li {
      z-index: 2;
      background-color: white;
      height: 110px;
      width: 110px;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      /*border: 3px solid $secondaryColor;*/
      margin-bottom: 1vh; }
      #eventsNav ul li span {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center; }

#eventsNav::-webkit-scrollbar {
  width: 0px; }

.vl {
  position: fixed;
  /*border-left: 7px solid $secondaryColor;*/
  height: 100vh;
  left: 75px;
  z-index: 1; }

#eventsContainer {
  margin-top: 30px;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: initial;
  height: 100vh;
  width: 100%; }

/*.vl::before {
    content:"";
    top:0;
    display: inline-block;
    width: 30px;
    height: 30px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: $secondaryColor;
    position: fixed;
    left: 70px;
    z-index:1;
}
*/
