@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0); } }

@keyframes slideInFromRight {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0); } }

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0); } }

@keyframes zoomIn-small {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.2); } }

@keyframes slideOutToLeft {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-120%); } }

@keyframes slideOutToRight {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(120%); } }

@keyframes slideOutToRightNotice {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(100%); } }

header.history-header {
  background: url(../../img/backgrounds/cinema-history.png);
  background-size: 100vw;
  height: 29vw; }
  header.history-header .dark-filter-wrap {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    color: #E6F4F1;
    text-align: center;
    animation: fadeIn 1s;
    padding-top: 120px; }
  header.history-header h1 {
    color: #E6F4F1;
    font-weight: 700; }
  header.history-header h2 {
    padding: 15px;
    padding-top: 25px;
    color: #BBD0DE;
    font-weight: 600; }
  header.history-header h3 {
    color: #15AFE1;
    margin-bottom: 0px;
    margin-top: 35px;
    padding-bottom: 15px;
    font-weight: 700; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  line-height: 1.5; }

.wrapper {
  margin: 0 auto;
  padding: 25px 16.66% 50px;
  width: 100%;
  font-size: 0px; }
  .wrapper p {
    font-size: large; }

article {
  position: relative;
  max-width: 1260px;
  margin: 0 auto; }

.timeline {
  background-color: #E6F4F1;
  overflow: hidden;
  animation: slideInFromLeft 1s;
  transition: background-color 250ms ease;
  color: #364954;
  border: 2px solid transparent;
  border-top: none; }
  .timeline .event-date {
    color: #99AEBB; }
  .timeline h1, .timeline h3 {
    color: #15AFE1; }
  .timeline p {
    vertical-align: top; }
  .timeline .milestone {
    margin-top: 20px; }
  .timeline h3 {
    margin-top: 20px; }
  .timeline__nav {
    opacity: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    transition: top .3s ease-out, opacity .3s linear; }
    .timeline__nav ul {
      list-style: none;
      list-style-position: inside;
      margin: 15px 0; }
      .timeline__nav ul li {
        margin: 15px 0;
        padding-left: 0;
        list-style-type: none;
        color: #99AEBB;
        border-bottom: 1px dotted #99AEBB;
        cursor: pointer;
        transition: all .3s ease-out, font-weight 0s ease;
        text-align: center; }
        .timeline__nav ul li.active {
          font-weight: bold;
          color: #15AFE1;
          border-bottom: 1px solid #15AFE1;
          transform: scale(1.2); }
        .timeline__nav ul li.active:hover {
          border-bottom: 1px solid #364954; }
        .timeline__nav ul li:hover {
          color: #364954;
          border-bottom: 1px dotted #364954; }
  .timeline .history-introduction {
    font-size: initial; }

.breadcrumb {
  margin-bottom: 0px; }

.half {
  display: inline-block;
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: large;
  height: 100%;
  color: #364954; }
  .half img {
    max-width: 100%;
    max-height: 40vw; }

p.half {
  padding-right: 10px; }

.full {
  display: block;
  font-size: large;
  margin: 0;
  padding: 0;
  color: #364954;
  overflow-wrap: break-word; }

.milestone {
  margin-top: 35px; }

h3 {
  margin-top: 15px;
  margin-bottom: 15px; }

.darkTheme .timeline {
  background-color: #364954;
  border: 2px solid #15AFE1; }
  .darkTheme .timeline .event-date {
    color: #99AEBB; }
  .darkTheme .timeline p {
    color: #E6F4F1; }
  .darkTheme .timeline .milestone {
    color: #E6F4F1; }
  .darkTheme .timeline__nav ul li {
    color: #99AEBB; }
    .darkTheme .timeline__nav ul li.active {
      color: #15AFE1;
      border-bottom: 1px solid #15AFE1; }
    .darkTheme .timeline__nav ul li.active:hover {
      border-bottom: 1px solid #E6F4F1; }
    .darkTheme .timeline__nav ul li:hover {
      color: #E6F4F1;
      border-bottom: 1px dotted #E6F4F1; }

@media only screen and (max-width: 1280px) {
  header.history-header h3 {
    display: none; }
  .darkTheme .timeline {
    border: none; }
  .timeline {
    margin: 0;
    max-width: 100vw;
    border: none;
    border-bottom: 5px solid #15AFE1; }
    .timeline__nav {
      display: none; }
  .wrapper {
    padding: 30px; } }

@media only screen and (max-width: 991px) {
  .wrapper {
    padding: 30px; }
  header.history-header {
    background: url("https://miro.medium.com/max/768/1*Lzjk71qN2KKvoGajU1tkiQ.jpeg");
    background-size: cover;
    height: fit-content; }
    header.history-header .dark-filter-wrap {
      padding-bottom: 25px;
      padding-top: 25px; }
    header.history-header h3 {
      display: initial; }
  .half {
    width: 100%; }
  .half:not(p) {
    text-align: center; }
  .darkTheme .timeline {
    border: none; }
  .timeline__nav {
    display: none; } }
