@import url(jumbotron.css);
@import "../Utility/_colors.scss";
@import "../Shared/animations.scss";
@import "../Utility/_timings.scss";
#topNav {
    background-color: transparent;
    backdrop-filter: blur(4px);
    position: absolute;
    width: 100%;
    animation: 0.3s ease-out 0s slideInFromTop;
}
#topNavDropdown {
    top: 70px;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(4px);
    border-bottom: 0px;
}
#topNavDropdown.open {
}
.coloredCircle {
    background-color: red;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;

    i {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 40px;
    }
}
.coloredCircle.blue{
    background-color:dodgerblue;
    color:white;
}
.coloredCircle.yellow {
    background-color: #fcad03;
    color: white;
}
.coloredCircle.orange-red {
    background-color: orangered;
    color: white;
}
.coloredCircle.green {
    background-color: darken(greenyellow, 15);
    color: white;
}
.serviceSuggestionBox {
    display: inline-block;
    width: 370px;
    height:340px;
    margin: 10px;
    padding: 30px;
    background-color: $secondaryColor-dark;
    border-radius: 10px;
    word-break: break-word;
    transition: background-color $changeThemeAnimationTime linear;
    color:$textColor;
    h5{
        margin-top:30px;
    }
}
.servicesContainer {
    align-items: center;
    /*    background-color: rgba(0,0,0,0.6);
    padding-top: 30px;
    padding-bottom: 30px;*/
    animation: $renderAnimationTime fadeIn;
    margin-top: 150px;
    z-index:1;
}
.slideFromLeft {
    animation: 1.5s slideInFromLeft;
}
.showcaseSectionTitle {
    padding: 0;
    margin: 0;
    font-size: 0;
    margin-top:100px;
    .right-border {
        display: inline-block;
        width: 7.5vw;


        hr {
            border-top: 3px solid $mainColor;
        }
    }

    h1 {
        display: inline-block;
        width: 45vw;
        padding-left: 1.5vw;
        border-left: 3px solid $mainColor;
        color: $secondaryColor-dark;
        font-weight: 600;
    }

    .left-border {
        display: inline-block;
        width: 47.5vw;

        hr {
            border-top: 3px solid $mainColor;
        }
    }
}
.seeAllLink {
    border-radius: 15px;
    border: 3px solid $mainColor;
    color: $secondaryColor-dark;
    background-color: $textColor;
    font-size: 14px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 500;
    display:inline-block;
    i {
        font-weight: 550;
    }
}

.seeAllLink:hover {
    text-decoration: none;
    color: $mainColor;
}
html, body {
    overflow-x: hidden;
    width: 100vw;
    position: relative;
}

@media only screen and (max-width : 991px) {
    #topNav {
        background-color: $secondaryColor-dark;
    }
    .welcomeText{
        display:block
    }
}
.darkTheme {
    .serviceSuggestionBox {
        background-color: $secondaryColor-light;
        color: $secondaryColor-dark;
    }

    .showcase {
        h2 {
            color: $textColor;
        }
    }

    .seeAllLink {
        color: $textColor;
        background-color: $secondaryColor-dark;
    }

    .seeAllLink:hover {
        text-decoration: none;
        color: $mainColor;
    }
}
.showcase{
    margin-bottom:30px;
}