@import url(jumbotron.css);
@import "../Utility/_colors.scss";
@import "../Shared/animations.scss";
@import "../Utility/_timings.scss";
#topNav {
    background-color: transparent;
    backdrop-filter: blur(4px);
    position: absolute;
    width: 100%;
    animation: 0.3s ease-out 0s 0.3 slideInFromTop;
}

#topNavDropdown {
    top: 70px;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(4px);
    border-bottom: 0px;
}


#topNavDropdown.open {
}
