@import "../Utility/_colors.scss";
@import "../Shared/animations.scss";
@import "../Utility/_timings.scss";

.account-page-content {
    padding-top: 70px;


    .user-collection-list {
        border: 5px solid $mainColor;
        border-top: 0px;
    }

    .foreign-user-header {
        background-color: $secondaryColor-dark;
        width: 70vw;
        max-width: 100%;
        position: relative;
        height: 107px;
        border: 5px solid $mainColor;
        border-bottom: 0px;

        img {
            max-width: 220px;
            max-height: 220px;
            position: absolute;
            left: 0;
            top: 0;
            transform: translate(-40%, -40%);
            border: 5px solid $mainColor;
        }

        h3 {
            display: inline-block;
            width: 100%;
            font-size: 40px;
            font-weight: 600;
            color: $textColor;
            padding-left: 12%;
            border-bottom: 5px solid $mainColor;
            margin-bottom:0px;
            padding-bottom:28px;
            button{
                all:unset;
                float:right;
                cursor:pointer;
                font-size:x-large;
                color:$mainColor;
                font-weight:700;
                position:absolute;
                top:50%;
                transform:translateY(-50%);
                right:25px;
            }
        }
    }
}
.not-logged-user {
    ul {
        width: 100vw;
    }

    .foreign-user-header {
        h3 {
            padding-left: 15%;
        }
        width:100vw;
    }
}
#shareModal {
    .modal-content {
        background-color: $secondaryColor-dark;
        color: $textColor;
        border-radius:0px;
        width:900px;
        position:absolute;
        left:50%;
        transform:translateX(-50%);
        margin-top:100px;
    }

    .close{
        color:$mainColor;
        text-shadow:none;
    }
}