/*$secondaryColor-light: #DAF3FF;
$secondaryColor-dark: #607999;
$mainColor: #ff4400;
$textColor: #FFF6F1;*/
/*$secondaryColor-light: #A4AE9E;
$secondaryColor-dark: #40493B;
$mainColor: #4DFF00;
$textColor: #F2FCEC;*/
/*$secondaryColor-light: #d2c4ae;
$secondaryColor-dark: #403535;
$mainColor: #294023;
$textColor: #ffeccf;*/
/*$secondaryColor-light: #006E61;
$secondaryColor-dark: #522700;
$mainColor: #FCBA03;
$textColor: #DFE0DF;*/
/*$secondaryColor-light: #AEAC99;
$secondaryColor-dark: #494738;
$mainColor: #FFFF33;
$textColor: #FCFAEE;*/
/*$secondaryColor-light: #DFE0DF;
$secondaryColor-dark: #693B22;
$mainColor: #FF6700;
$textColor: #FCFAEE;*/
/*$secondaryColor-light: #9DB0A2;
$secondaryColor-dark: #3B4A3F;
$mainColor: #03FC90;
$textColor: #FCFAEE;*/
/*$secondaryColor-light: #121212;
$secondaryColor-dark: rgb(31,31,31);
$mainColor: rgb(245, 197, 24);
$textColor: #fcf7f7;*/
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0); } }

@keyframes slideInFromRight {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0); } }

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0); } }

@keyframes zoomIn-small {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.2); } }

@keyframes slideOutToLeft {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-120%); } }

@keyframes slideOutToRight {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(120%); } }

@keyframes slideOutToRightNotice {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(100%); } }

.account-page-content {
  margin-left: 0px;
  margin-top: 30px;
  color: #E6F4F1; }
  .account-page-content h3 {
    padding: 20px;
    color: #364954; }

.user-collection-list {
  width: 70vw;
  padding-left: 0px;
  background-color: #364954;
  max-width: 100%;
  border: 5px solid #364954; }
  .user-collection-list img {
    height: 150px;
    width: 100px; }
  .user-collection-list * {
    display: inline-block; }
  .user-collection-list li {
    display: block;
    list-style: none;
    padding-left: 0;
    border-bottom: 1px solid rgba(153, 174, 187, 0.5); }
  .user-collection-list a {
    color: #15AFE1;
    font-size: larger;
    font-weight: 700; }
  .user-collection-list h5 {
    margin-right: 7px; }
  .user-collection-list .list-image-container {
    position: relative;
    margin-right: 20px; }
    .user-collection-list .list-image-container form {
      position: absolute;
      width: 100%;
      background-color: rgba(153, 174, 187, 0.5);
      left: 0px;
      cursor: pointer;
      font-size: 50px;
      text-align: center;
      line-height: 150px;
      opacity: 0;
      transition: all .3s ease; }
    .user-collection-list .list-image-container button {
      position: absolute;
      width: 100%;
      background-color: rgba(153, 174, 187, 0.5);
      left: 0px;
      cursor: pointer;
      font-size: 50px;
      text-align: center;
      line-height: 150px;
      opacity: 0;
      transition: all .3s ease;
      border: none; }
    .user-collection-list .list-image-container button:focus, .user-collection-list .list-image-container button:active {
      border: none;
      outline: none; }
  .user-collection-list .list-image-container:hover button, .user-collection-list .list-image-container:hover form {
    opacity: 1; }

.pb-3 {
  padding-bottom: 0px !important; }

/*.account-nav-container{
    min-height:780px;
}*/
.darkTheme .user-collection-list {
  border: 5px solid #15AFE1; }

.darkTheme .user-list-container h3 {
  color: #E6F4F1; }

@media only screen and (max-width: 1600px) and (min-width: 1260px) {
  .user-list-container .container {
    padding-right: 0;
    margin-right: 0; }
  main .row {
    justify-content: space-between; } }

@media only screen and (max-width: 1260px) {
  .user-list-container {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
    .user-list-container .container {
      max-width: 90vw; }
    .user-list-container .user-collection-list {
      width: 100%; }
      .user-list-container .user-collection-list h5 {
        max-width: 40vw; }
    .user-list-container h3 {
      margin-top: 70px; }
  .list-image-container button {
    display: none; }
  main .row {
    justify-content: space-between; } }

@media only screen and (max-width: 800px) {
  .user-list-container .container {
    max-width: 100vw;
    padding: 0; }
  .user-list-container .user-collection-list {
    border-left: none;
    border-right: none; }
    .user-list-container .user-collection-list li {
      padding: 15px; } }

main {
  min-height: 100vh; }
