@section heads {
    <link href="@Url.Content("~/css/Identity/accountNavigation.css")" rel="stylesheet" type="text/css" />
    @RenderSection("heads", required: false)
}

@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div>
    <div class="row">
        <div class="col-md-3 account-nav-container">
                <partial name="_AccountNavigation" />
            </div>
        <div class="col-md-9 account-page-content">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
