@model HomePageData
@{
    ViewData["Title"] = "Home Page";
}
@section heads
{
    <link href="@Url.Content("~/css/Home/homepage.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/Home/homeSliders.css")" rel="stylesheet" type="text/css" />
}
<partial name="_HomeJumbotronPartial" />

<div class="row servicesContainer">
    <div class="col-lg-3 col-sm-12 d-flex justify-content-center align-items-center" align="center">
        <div class="serviceSuggestionBox">
            <div class="coloredCircle blue">
                <i class="fas fa-info"></i>
            </div>
            <h5>See info about different titles</h5>
            <p>
                Filmly has extensive data about milions various films, animes, TV series and other streaming content.
            </p>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12 d-flex justify-content-center align-items-center" align="center">
        <div class="serviceSuggestionBox">
            <div class="coloredCircle yellow">
                <i class="fas fa-list"></i>
            </div>
            <h5>Create your list of favourites and titles you plan to watch</h5>
            <p>
                Once you register on Filmly you can save and remove titles from your watchlist or your favourites list
            </p>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12 d-flex justify-content-center align-items-center" align="center">
        <div class="serviceSuggestionBox">
            <div class="coloredCircle orange-red">
                <i class="fas fa-share"></i>
            </div>
            <h5>Share your favourites</h5>
            <p>
                Filmly allows you to share your favourites list with anyone by link, id, or QR code
            </p>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12 d-flex justify-content-center align-items-center" align="center">
        <div class="serviceSuggestionBox">
            <div class="coloredCircle green">
                <i class="fas fa-comments"></i>
            </div>
            <h5>Discuss with others</h5>
            <p>
                You can discuss different topics and titles on our forum, see our articles and news about the cinema industry
            </p>
        </div>
    </div>
</div>
<div class="showcaseSectionTitle">
    <div class="right-border">
        <hr />
    </div>
    <h1>Hundreds of thousands movies</h1>
    <div class="left-border">
        <hr />
    </div>
</div>
<div class="container align-content-center slidersContainer">
    <partial name="_MoviesShowcasePartial" />
</div>
<div class="showcaseSectionTitle">
    <div class="right-border">
        <hr />
    </div>
    <h1>Hundreds of thousands TV series</h1>
    <div class="left-border">
        <hr />
    </div>
</div>
<div class="container align-content-center slidersContainer">
    <partial name="_TVSShowcasePartial" />
</div>
<div class="showcaseSectionTitle">
    <div class="right-border">
        <hr />
    </div>
    <h1>Hundreds of thousands anime</h1>
    <div class="left-border">
        <hr />
    </div>
</div>
<div class="container align-content-center slidersContainer">
    <partial name="_AnimeShowcasePartial" />
</div>
@section Scripts
{
    <script src="~/js/CollectionScroller.js"></script>
    <script src="~/js/homepage.js"></script>
}
