@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@section heads{
    <link href="@Url.Content("~/css/Identity/register.css")" rel="stylesheet" type="text/css" />
}

<div class="container">
    <h1>Register</h1>
    <div class="row" id="formRow">
        <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col-xs-12">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.FirstName"></label>
                    <input asp-for="Input.FirstName" class="form-control" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.LastName"></label>
                    <input asp-for="Input.LastName" class="form-control" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.ProfileImage"></label>
                    <input asp-for="Input.ProfileImage" class="form-control" id="profileImageInputHidden" placeholder="Image URL" />
                    <span asp-validation-for="Input.ProfileImage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <span> or </span>
                    <label for="fileupload" class="custom-file-upload">
                        <i class="fas fa-cloud-upload-alt"></i> Upload image
                    </label>
                    <input class="form-control" type="file" id="fileupload" />
                    <span id="imageValidationText" class="text-danger"></span>
                </div>
                <div class="form-group checkbox-container">
                    <label asp-for="Input.IsPublic"></label>
                    <input asp-for="Input.IsPublic" checked />
                    <span asp-validation-for="Input.IsPublic" class="text-danger"></span>
                </div>
                <button id="registerButton">Register</button>
                <button id="resetFormButton" class="NoLoader" onclick="clearInputs()" type="button">Reset</button>
                <button type="submit" id="submitButtonHidden" style="visibility:hidden">Register hidden</button>
            </form>
        </div>
        <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col-xs-12">
            <p>
                Already have an acount? Click <a asp-area="identity" asp-page="/account/login" title="sign in">here</a> to sign in.
            </p>
            <p class="privacy-text">
                By registering you agree to give us the permision to store the data you enter in the website in our database.
            </p>
            <p>
                We reserve the right to terminate your account at any point
            </p>
            <p>
                Filmly does not support "Forgot password" functionality yet, so don't forget your password!
            </p>
            <p>
                Click <a asp-area="" asp-controller="home" asp-action="privacy">here</a> to learn more
            </p>
            <p>
                <a asp-controller="home" asp-action="index">Back to home page</a>
            </p>
        </div>
    </div>

</div>
@section Scripts {
    <script>
        const CLOUDINARY_URL = 'https://api.cloudinary.com/v1_1/ddo3vrwcb/image/upload';
        const CLOUDINARY_UPLOAD_PRESET = 'k4nawbiw';
        const image = document.querySelector('#fileupload');
        document.getElementById('registerButton').addEventListener('click', (e) => {
            e.preventDefault();
            if (image.files.length > 0) {
                const file = image.files[image.files.length - 1];
                const formData = new FormData();
                formData.append('file', file);
                formData.append('upload_preset', CLOUDINARY_UPLOAD_PRESET);

                fetch(CLOUDINARY_URL, {
                    method: 'POST',
                    body: formData,
                })
                    .then(response => response.json())
                    .then((data) => {
                        if (data.secure_url !== '') {
                            const uploadedFileUrl = data.secure_url;
                            console.log(uploadedFileUrl + " is the url");
                            document.getElementById('profileImageInputHidden').value = uploadedFileUrl;
                        }
                    }).then(() => {
                        document.getElementById('submitButtonHidden').click()
                        console.log("started registe3r");
                    })
                /*                    .catch(err => console.error(err));*/
            }
            else {
                document.getElementById('submitButtonHidden').click()
            }

        })
        image.addEventListener('change', (e) => {
            if (e.target.files[image.files.length - 1].name.endsWith(".png") || e.target.files[image.files.length - 1].name.endsWith(".jpg") || e.target.files[image.files.length - 1].name.endsWith(".jpeg") | e.target.files[image.files.length - 1].name.endsWith(".gif")) {
                if (e.target.files[0].size < 1100000) {
                    document.getElementById('profileImageInputHidden').value = e.target.files[0].name
                    document.getElementById('imageValidationText').innerText = ""
                }
                else {
                    document.getElementById('imageValidationText').innerText = "Image is too large"
                    image.value = null;
                    document.getElementById('profileImageInputHidden').value = ""
                }
            }
            else {
                document.getElementById('imageValidationText').innerText = "Image should be in png, jpg, jpeg or gif format"
                image.value = null;
                document.getElementById('profileImageInputHidden').value = ""
            }
        })
            //String.prototype.endsWith = function (pattern) {
            //    var d = this.length - pattern.length;
            //    return d >= 0 && this.lastIndexOf(pattern) === d;
            //};
    </script>
    <script>
        function clearInputs() {
            document.querySelectorAll('#formRow input').forEach((e) => {
                if (e.type == "password" || e.type == "text" || e.type=="email") {
                    e.value = "";
                }
                else if (e.type=="checkbox") {
                    e.checked = true
                }
                else if (e.type == "file") {
                    e.value = null;
                }
            })
        }
    </script>
    <partial name="_ValidationScriptsPartial" />
}
