@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}
@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%)
    }

    to {
        transform: translateX(0)
    }
}
@keyframes slideInFromRight {
    from {
        transform: translateX(100%)
    }

    to {
        transform: translateX(0)
    }
}
@keyframes slideInFromBottom{
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}
@keyframes zoomIn-small{
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}
@keyframes slideOutToLeft{
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-120%)
    }
}
@keyframes slideOutToRight {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(120%)
    }
}