/*.body-darkTheme {
    background-color: $bgColor;
    color: white;

    #loaderContainer{
        background-color: $bgColor;
    }
    .card-body{
        background-color:$bgColor;
        color:white
    }
}
*/
