/*$secondaryColor-light: #DAF3FF;
$secondaryColor-dark: #607999;
$mainColor: #ff4400;
$textColor: #FFF6F1;*/
/*$secondaryColor-light: #A4AE9E;
$secondaryColor-dark: #40493B;
$mainColor: #4DFF00;
$textColor: #F2FCEC;*/
/*$secondaryColor-light: #d2c4ae;
$secondaryColor-dark: #403535;
$mainColor: #294023;
$textColor: #ffeccf;*/
/*$secondaryColor-light: #006E61;
$secondaryColor-dark: #522700;
$mainColor: #FCBA03;
$textColor: #DFE0DF;*/
/*$secondaryColor-light: #AEAC99;
$secondaryColor-dark: #494738;
$mainColor: #FFFF33;
$textColor: #FCFAEE;*/
/*$secondaryColor-light: #DFE0DF;
$secondaryColor-dark: #693B22;
$mainColor: #FF6700;
$textColor: #FCFAEE;*/
/*$secondaryColor-light: #9DB0A2;
$secondaryColor-dark: #3B4A3F;
$mainColor: #03FC90;
$textColor: #FCFAEE;*/
/*$secondaryColor-light: #121212;
$secondaryColor-dark: rgb(31,31,31);
$mainColor: rgb(245, 197, 24);
$textColor: #fcf7f7;*/
.genreSlider {
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: hidden;
  margin-top: 30px;
  margin-bottom: 30px; }
  .genreSlider .genreCard {
    display: inline-block;
    border: 2px solid transparent;
    border-radius: 20px;
    margin: 20px;
    height: 200px;
    margin-bottom: 50px; }
    .genreSlider .genreCard p {
      white-space: pre-line;
      padding-bottom: 10px; }
    .genreSlider .genreCard .card {
      width: 330px;
      padding: 10px;
      padding-top: 10px;
      height: 200px;
      transition: background-color 0.7s ease; }
    .genreSlider .genreCard h5 {
      text-align: center;
      margin-bottom: 0; }
    .genreSlider .genreCard .card-body {
      padding: 10px;
      padding-top: 7.5px; }
  .genreSlider .red .card {
    background-color: rgba(170, 0, 0, 0.7);
    color: #E6F4F1;
    border: 3px solid red; }
  .genreSlider .red .card:hover {
    background-color: #aa0000; }
  .genreSlider .blue .card {
    background-color: rgba(0, 138, 170, 0.7);
    color: #E6F4F1;
    border: 3px solid #00d0ff; }
  .genreSlider .blue .card:hover {
    background-color: #008aaa; }
  .genreSlider .orange .card {
    background-color: rgba(220, 99, 0, 0.8);
    color: #E6F4F1;
    border: 3px solid #ff7300; }
  .genreSlider .orange .card:hover {
    background-color: #dc6300; }
  .genreSlider .green .card {
    background-color: rgba(0, 180, 0, 0.7);
    color: #E6F4F1;
    border: 3px solid lime; }
  .genreSlider .green .card:hover {
    background-color: #00b400; }
  .genreSlider .yellow .card {
    background-color: rgba(200, 200, 0, 0.8);
    color: #E6F4F1;
    border: 3px solid yellow; }
  .genreSlider .yellow .card:hover {
    background-color: #c8c800; }
  .genreSlider .black .card {
    background-color: rgba(25, 25, 25, 0.8);
    color: #E6F4F1;
    border: 3px solid #191919; }
  .genreSlider .black .card:hover {
    background-color: #191919; }
  .genreSlider .pink .card {
    background-color: rgba(170, 0, 143, 0.7);
    color: #E6F4F1;
    border: 3px solid #ff00d0; }
  .genreSlider .pink .card:hover {
    background-color: #aa008f; }
  .genreSlider .light-grey .card {
    background-color: rgba(0, 201, 92, 0.7);
    color: #E6F4F1;
    border: 3px solid #00c95c; }
  .genreSlider .light-grey .card:hover {
    background-color: #00c95c; }
  .genreSlider .brown .card {
    background-color: rgba(139, 69, 19, 0.8);
    color: #E6F4F1;
    border: 3px solid #964b1a; }
  .genreSlider .brown .card:hover {
    background-color: saddlebrown; }
  .genreSlider .genreCard:hover {
    text-decoration: none; }

.genreSlider::-webkit-scrollbar {
  width: 5px;
  height: 3px; }

.genreSlider::-webkit-scrollbar-track {
  background: transparent; }

.genreSlider::-webkit-scrollbar-thumb {
  background: #15AFE1;
  border-radius: 50px; }

.genreSlider::-webkit-scrollbar-thumb:hover {
  background: #99AEBB; }
