/*$secondaryColor-light: #DAF3FF;
$secondaryColor-dark: #607999;
$mainColor: #ff4400;
$textColor: #FFF6F1;*/
/*$secondaryColor-light: #A4AE9E;
$secondaryColor-dark: #40493B;
$mainColor: #4DFF00;
$textColor: #F2FCEC;*/
/*$secondaryColor-light: #d2c4ae;
$secondaryColor-dark: #403535;
$mainColor: #294023;
$textColor: #ffeccf;*/
/*$secondaryColor-light: #006E61;
$secondaryColor-dark: #522700;
$mainColor: #FCBA03;
$textColor: #DFE0DF;*/
/*$secondaryColor-light: #AEAC99;
$secondaryColor-dark: #494738;
$mainColor: #FFFF33;
$textColor: #FCFAEE;*/
/*$secondaryColor-light: #DFE0DF;
$secondaryColor-dark: #693B22;
$mainColor: #FF6700;
$textColor: #FCFAEE;*/
/*$secondaryColor-light: #9DB0A2;
$secondaryColor-dark: #3B4A3F;
$mainColor: #03FC90;
$textColor: #FCFAEE;*/
/*$secondaryColor-light: #121212;
$secondaryColor-dark: rgb(31,31,31);
$mainColor: rgb(245, 197, 24);
$textColor: #fcf7f7;*/
#loaderContainer {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  background-color: rgba(255, 255, 255, 0.4);
  display: none; }

.lds-facebook {
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.lds-facebook div {
  display: inline-block;
  position: absolute;
  width: 19.5px;
  background: #15AFE1;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite; }

.lds-facebook div:nth-child(1) {
  left: -30px;
  animation-delay: -0.24s; }

.lds-facebook div:nth-child(2) {
  left: 0px;
  animation-delay: -0.12s; }

.lds-facebook div:nth-child(3) {
  left: 30px;
  animation-delay: 0; }

@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 114.75px; }
  50%, 100% {
    top: 19px;
    height: 58.5px; } }

.darkTheme #loaderContainer {
  background-color: rgba(0, 0, 0, 0.4); }
