/*$secondaryColor-light: #DAF3FF;
$secondaryColor-dark: #607999;
$mainColor: #ff4400;
$textColor: #FFF6F1;

*/
/*$secondaryColor-light: #A4AE9E;
$secondaryColor-dark: #40493B;
$mainColor: #4DFF00;
$textColor: #F2FCEC;*/
/*$secondaryColor-light: #d2c4ae;
$secondaryColor-dark: #403535;
$mainColor: #294023;
$textColor: #ffeccf;*/
/*$secondaryColor-light: #006E61;
$secondaryColor-dark: #522700;
$mainColor: #FCBA03;
$textColor: #DFE0DF;*/
/*$secondaryColor-light: #AEAC99;
$secondaryColor-dark: #494738;
$mainColor: #FFFF33;
$textColor: #FCFAEE;*/
/*$secondaryColor-light: #DFE0DF;
$secondaryColor-dark: #693B22;
$mainColor: #FF6700;
$textColor: #FCFAEE;*/
/*$secondaryColor-light: #9DB0A2;
$secondaryColor-dark: #3B4A3F;
$mainColor: #03FC90;
$textColor: #FCFAEE;*/
body::-webkit-scrollbar {
  width: 0px; }

.show-mobile-inline-block {
  display: none; }

.show-largeScreen-inline-block {
  display: inline-block; }

.show-mobile-block {
  display: none; }

@media only screen and (max-width: 576px) {
  .show-mobile-inline-block {
    display: inline-block; }
  .show-largeScreen-inline-block {
    display: none; }
  .show-mobile-block {
    display: block; }
  #navSearchInputForm {
    display: none; } }

html, body {
  overflow-x: hidden; }

.margin-md {
  margin-left: 110px;
  margin-right: 0; }

.margin-md_lg {
  margin-left: 200px; }

.rotate {
  transform: rotate(-180deg);
  transition-duration: 0.8s;
  transition-property: transform; }

span.breadcrumbSeparator {
  margin-left: 10px;
  margin-right: 10px; }

h1 {
  font-family: Roboto,Helvetica,Arial,sans-serif; }

.bg-transparent {
  background-color: transparent; }

.noDisplay {
  display: none; }

.text-mainColor {
  color: #15AFE1; }

/* typical phone screen resolution */
@media only screen and (min-width: 991px) {
  .hiddenOnBigScreen {
    display: none; } }

@media only screen and (max-width: 991px) {
  .hiddenOnMobile {
    display: none !important; }
  .hiddenOnTablet {
    display: none !important; } }

@media only screen and (max-width: 1551px) {
  .hiddenOnTablet {
    display: none !important; } }

.darkTheme {
  background-color: #364954;
  transition: background-color 0.7s ease; }
  .darkTheme .showcaseSectionTitle h1 {
    color: #E6F4F1; }

.overflow-hidden {
  overflow: hidden; }

body {
  overflow-x: hidden;
  transition: background-color 0.7s ease;
  background-color: #E6F4F1;
  background: url("../../img/backgrounds/icons_pattern.png"); }

@media only screen and (max-width: 667px) {
  .showcaseSectionTitle {
    padding: 0;
    margin: 0;
    font-size: 0; }
    .showcaseSectionTitle .right-border {
      display: inline-block;
      width: 7.5vw; }
      .showcaseSectionTitle .right-border hr {
        border-top: 3px solid #15AFE1; }
    .showcaseSectionTitle h1 {
      display: inline-block;
      width: 92.5vw;
      padding-left: 1.5vw;
      border-left: 3px solid #15AFE1; }
    .showcaseSectionTitle .left-border {
      display: inline-block;
      width: 0; } }

.showcaseSectionTitle {
  padding: 0;
  margin: 0;
  font-size: 0;
  margin-top: 100px; }
  .showcaseSectionTitle .right-border {
    display: inline-block;
    width: 7.5vw; }
    .showcaseSectionTitle .right-border hr {
      border-top: 3px solid #15AFE1; }
  .showcaseSectionTitle h1 {
    display: inline-block;
    width: 45vw;
    padding-left: 1.5vw;
    border-left: 3px solid #15AFE1;
    color: #364954;
    font-weight: 600; }
  .showcaseSectionTitle .left-border {
    display: inline-block;
    width: 47.5vw; }
    .showcaseSectionTitle .left-border hr {
      border-top: 3px solid #15AFE1; }
