@import "../Utility/_colors.scss";
@import "../Utility/_timings.scss";
@import "../Shared/animations.scss";
body::-webkit-scrollbar {
    width:0px;
}
.show-mobile-inline-block {
    display: none
}

.show-largeScreen-inline-block {
    display: inline-block
}

.show-mobile-block {
    display: none
}
@media only screen and (max-width : 576px) {
    .show-mobile-inline-block {
        display: inline-block
    }

    .show-largeScreen-inline-block {
        display: none
    }

    .show-mobile-block {
        display: block
    }

    #navSearchInputForm {
        display: none;
    }
}
html, body {
    overflow-x: hidden;
}
.margin-md {
    margin-left: 110px;
    margin-right: 0;
}
.margin-md_lg{
    margin-left:200px;
}
.rotate {
    transform: rotate(-180deg);
    transition-duration: 0.8s;
    transition-property: transform;
}
span.breadcrumbSeparator {
    margin-left: 10px;
    margin-right: 10px;
}
h1 {
    font-family: Roboto,Helvetica,Arial,sans-serif;
}
.bg-transparent {
    background-color: transparent;
}
.noDisplay{
    display:none;
}
.text-mainColor{
    color:$mainColor;
}
/* typical phone screen resolution */
@media only screen and (min-width : 991px) {
    .hiddenOnBigScreen{
        display:none;
    }
}
@media only screen and (max-width : 991px) {
    .hiddenOnMobile {
        display: none !important;
    }
    .hiddenOnTablet {
        display: none !important;
    }
}
@media only screen and (max-width : 1551px) {
    .hiddenOnTablet {
        display: none!important;
    }
}
.darkTheme {
    background-color: $secondaryColor-dark;
    transition: background-color $changeThemeAnimationTime ease;

    .showcaseSectionTitle {
        h1 {
            color: $textColor;
        }
    }
}
.overflow-hidden{
    overflow:hidden;
}
body {
    overflow-x: hidden;
    transition: background-color $changeThemeAnimationTime ease;
    background-color: $textColor;
    background: url('../../img/backgrounds/icons_pattern.png')
}
@media only screen and (max-width : 667px) {
    .showcaseSectionTitle {
        padding: 0;
        margin: 0;
        font-size: 0;

        .right-border {
            display: inline-block;
            width: 7.5vw;


            hr {
                border-top: 3px solid $mainColor;
            }
        }

        h1 {
            display: inline-block;
            width: 92.5vw;
            padding-left: 1.5vw;
            border-left: 3px solid $mainColor;
        }

        .left-border {
            display: inline-block;
            width: 0;
        }
    }
}
.showcaseSectionTitle {
    padding: 0;
    margin: 0;
    font-size: 0;
    margin-top: 100px;

    .right-border {
        display: inline-block;
        width: 7.5vw;


        hr {
            border-top: 3px solid $mainColor;
        }
    }

    h1 {
        display: inline-block;
        width: 45vw;
        padding-left: 1.5vw;
        border-left: 3px solid $mainColor;
        color: $secondaryColor-dark;
        font-weight: 600;
    }

    .left-border {
        display: inline-block;
        width: 47.5vw;

        hr {
            border-top: 3px solid $mainColor;
        }
    }
}
::-moz-selection {
    color: $textColor;
    background: $mainColor;
}

::selection {
    color: $textColor;
    background: $mainColor;
}
.slideInFromLeftContainer{
    animation:slideInFromLeft $renderAnimationTime;
}
.slideOutToLeftContainer {
    animation: slideOutToLeft $renderAnimationTime;
    transform:translateX(-120%)
}