@import "../Utility/_colors.scss";
@import "../Utility/_timings.scss";
@import "../Shared/animations.scss";
:root {
    --slidesCount: 0;
}
body {
    /*background:none;*/
    /*background-color:$secondaryColor-light;*/
    /*background: #2C6E7A;*/
    background: linear-gradient(#00C6DF 0%, #00DACB 25%, #5EE9AB 50%, #AEF488 75%, #F9F871 100%);
    position:relative;
}
.title-details-container {
    animation: fadeIn $renderAnimationTime;
    background-color: $secondaryColor-dark;
    position: relative;
    padding-top: 50px;

    .title-header {
        vertical-align: top;
        color: $textColor;
        margin: 4vw;
        margin-top: 0px;
        animation: slideInFromLeft $renderAnimationTime;

        img {
            width: 213.6px;
            height: 320.4px;
        }

        h1 {
            vertical-align: top;
            display: inline-block;
            width: 50vw;
            padding: 20px;
            padding-bottom: 0px;
            padding-top: 0px;
            font-weight: 800;
            font-size: xx-large;
            border-bottom: 1px solid $secondaryColor-light;
            line-height: 45px;

            .other-title {
                display: inline-block;
                font-size: large;
                padding-bottom: 15px;
                padding-left: 50px;
                color: $secondaryColor-light;
                width: 50vw;
                line-height: normal;
            }
        }

        h2 {
            font-size: large;
            padding-bottom: 15px;
            padding-left: 70px;
            color: $secondaryColor-light;
            border-bottom: 1px solid $secondaryColor-light;
            width: 50vw;
            line-height: 40px;
            position: relative;

            i {
                position: absolute;
                left: 15px;
                font-size: 35px;
                top: 7px;
            }

            .fa-info-circle {
                color: darkorange;
            }

            .fa-award {
                left: 20px;
                color: royalblue;
            }

            .fa-user-tie {
                color: #ffd500;
            }

            .fa-tag {
                color: #03fc17;
            }

            .title-info-separator {
                color: $secondaryColor-light-semiTransparent;
            }

            .title-seeCastButton {
                position: relative;
                color: $mainColor;
                float: right;
                margin-right: 15px;
            }

            .title-seeCastButton:hover::before, .title-seeCastButton:focus::before {
                position: absolute;
                left: -20px;
                font-family: "Font Awesome 5 Free";
                content: "\f101";
                width: 10px;
                height: 100%;
                color: $mainColor;
                font-weight: 900;
                font-size: 17px;
                animation: .3s fadeIn;
            }

            .title-stars {
                max-width: 70%;
            }
        }

        .title-mainData {
            display: inline-block;
            width: 60vw;
            padding: 40px;
            vertical-align: top;
            padding-top: 20px;
            padding-left: 60px;
        }


        .rating-wrap {
            position: relative;
            margin-right: 25px;
        }

        .title-rating {
            /*            vertical-align: 40%;*/
            position: relative;
            font-size: large;
            color: white;
            /*            padding: 7px;*/
            /*margin-right: 15px;*/
            z-index: 1;
        }

        .title-rating-icon {
            position: absolute;
            font-family: "Font Awesome 5 Free";
            content: "\f005";
            color: $starColor;
            font-weight: 900;
            font-size: 50px;
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 0;
        }
    }

    .userCollections-buttons {
        position: absolute;
        top: 50px;
        right: 50px;
        width: 22vw;
        border-radius: 10px;
        overflow: hidden;
    }

    .userCollections-buttons {
        input, button, a {
            all: unset;
            cursor: pointer;
            width: 100%;
        }

        button, a, form {
            display: block;
            padding: 12px;
            font-size: 20px;
            font-weight: 700;
            text-align: left;
            position: relative;
            padding-left: 52px;

            i {
                text-align: center;
                margin-right: 20px;
                font-size: 32px;
                vertical-align: bottom;
                position: absolute;
                left: 12px;
            }

            transition: all .3s ease;
        }

        form {
            padding: 0px;
        }

        .bg-watchlist {
            color: rgb(253, 126, 20);
            background-color: rgba(253, 126, 20, 0.4);
        }

        .bg-watchlist:hover {
            background-color: rgba(253, 126, 20, 0.6);
        }

        .bg-favourites {
            color: rgb(227, 27, 35);
            background-color: rgba(227, 27, 35, 0.4);
        }

        .bg-favourites:hover {
            background-color: rgba(227, 27, 35, 0.6);
        }

        .bg-share {
            color: rgb(27, 227, 214);
            background-color: rgba(27, 227, 214, 0.4);
            width: 100%;
            text-align: left;
        }

        .bg-share:hover {
            background-color: rgba(27, 227, 214, 0.6);
        }

        .bg-trailer {
            color: rgb(128, 255, 0);
            width: 100%;
            text-align: left;
            background-color: rgba(128, 255, 0, 0.4);
        }

        .bg-trailer:hover {
            background-color: rgba(128, 255, 0, 0.5);
        }

        .bg-imdb {
            color: #f5c518;
            background-color: rgb(18, 18, 18);
        }
    }

    p {
        margin-top: 30px;
        margin-bottom: 20px;
        color: $textColor;
        width: 70vw;
        font-size: larger;
        line-height: 37px;
    }
}
.breadcrumb{
    margin-bottom:0px;
}

@keyframes sliderScroll {
    0%{
        transform:translateX(0)
    }
    100% {
        transform: translateX(calc(-250px * calc(var(--slidesCount)/2)))
    }
}
.title-details-mainContent {
    background-color: $textColor;
    padding-top: 1px;
    transition: background-color $changeThemeAnimationTime ease;
    animation: slideInFromRight $renderAnimationTime;

    .slider {
        height: 250px;
        margin: auto;
        /*        margin-top: 75px;*/
        width: 110vw;
        margin-left: -10vw;
        display: grid;
        place-items: left;
    }

    .slider:before {
        content: '';
        width: 15vw;
        position: absolute;
        left: -15vw;
        background-color: $secondaryColor-dark;
        height: 100%;
        z-index: 3;
    }

    .slide-track {
        display: flex;
        width: calc(250px*calc(var(--slidesCount)));
        animation: sliderScroll 60s linear infinite;
    }

    .slide {
        height: 200px;
        width: 250px;
        display: flex;
        align-items: center;
        padding: 10px;
        /*        perspective: 100px;*/
        text-align: center;
        align-content: center;
        display: inline-flex;
        vertical-align: central;
        justify-content: center;

        img {
            max-width: 230px;
            max-height: 180px;
            transition: transform 1s;
            align-self: center;
            vertical-align: central;
        }
        /*        img:hover {
            transform: translateZ(15px)
        }*/
    }

    .stars-data {
        display: flex;
        position: relative;
        padding-top: 100px;
        background-color: $textColor;
        justify-content: space-around;
        flex-wrap: wrap;

        .flex-col {
            flex-grow: 1;
            text-align: center;
        }

        .actor-data-card {
            all: unset;
            cursor: pointer;
            width: 350px;
            height: 500px;
            display: inline-block
        }

        .card {
            width: 350px;
            height: 400px;
            margin-top: 100px;
            border-radius: 16px;
            margin-left: auto;
            margin-right: auto;
            background-color: $secondaryColor-light-semiTransparent;
            border: 3px solid $textColor;
            color: $secondaryColor-dark;
            transition: border-color .3s ease;
        }

        .img-name {
            width: 100%;
            height: 210px;
            margin-left: auto;
            margin-right: auto;
            margin-top: -75px;
            border-bottom: 5px solid $mainColor;
        }

        .img-name img {
            display: block;
            width: 140px;
            height: 140px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 70px;
            border: 5px solid $mainColor;
            background-color: $mainColor;
        }

        .img-name h2 {
            text-align: center;
            padding: 16px;
        }

        img {
            object-fit: cover;
            max-width: 15vw;
        }

        p {
            width: 350px;
            padding: 15px;
            color: $secondaryColor-dark;
            font-size: medium;
            overflow: hidden;
        }

        .actor-data-card:hover {
            .card {
                border-color: $mainColor;
            }
        }

        .redirect-button-bottom-right {
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: $secondaryColor-dark;
            clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
            padding:10px;
            padding-left:35px;
            font-size:larger;
            color:$mainColor;
        }

        padding-bottom: 100px;
    }

    .topic-separator {
        display: inline-block;
        width: 400px;
        height: fit-content;
        text-align: center;
        clip-path: polygon(30% 100%, 70% 100%, 100% 0, 0 0);
        background-color: $secondaryColor-dark;
        position: absolute;
        padding: 20px;
        padding-top: 0px;
        top: -1px;
        left: 50%;
        margin-left: -200px;
        color: $mainColor;
    }

    .topic-separator:hover {
        text-decoration: none;
    }

    .topic-separator:hover:before {
        position: absolute;
        top: 10px;
        left: 24%;
        font-family: "Font Awesome 5 Free";
        content: "\f101";
        width: 10px;
        height: 100%;
        color: $mainColor;
        font-weight: 600;
        font-size: 27px;
        animation: .3s fadeIn;
    }
}
.darkTheme {
    .title-details-mainContent {
        background-color: $secondaryColor-light-semiTransparent;

        .stars-data {
            background-color: $secondaryColor-light;

            .card {
                background-color: #667A86;
                border-color: #667A86;
                h2{
                    color:$textColor;
                }
                p {
                    color: $textColor;
                }
            }
        }
    }
}