@import "../Utility/_colors.scss";
@import "../Utility/_timings.scss";
@import "../Shared/animations.scss";
body {
    /*background:none;*/
    /*background-color:$secondaryColor-light;*/
    /*background: #2C6E7A;*/
    background: linear-gradient(#00C6DF 0%, #00DACB 25%, #5EE9AB 50%, #AEF488 75%, #F9F871 100%);
}
.title-details-container {
    padding: 4vw;
    padding-top: 50px;
    animation: fadeIn $renderAnimationTime;
    background-color: $secondaryColor-dark;
    position: relative;

    .title-header {
        vertical-align: top;
        color: $textColor;

        img {
            width: 213.6px;
            height: 320.4px;
        }

        h1 {
            vertical-align: top;
            display: inline-block;
            width: 50vw;
            padding: 20px;
            padding-bottom: 0px;
            padding-top: 0px;
            font-weight: 800;
            font-size: xx-large;
            border-bottom: 1px solid $secondaryColor-light;
            line-height: 45px;

            .other-title {
                display: inline-block;
                font-size: large;
                padding-bottom: 15px;
                padding-left: 50px;
                color: $secondaryColor-light;
                width: 50vw;
                line-height: normal;
            }
        }

        h2 {
            font-size: large;
            padding-bottom: 15px;
            padding-left: 70px;
            color: $secondaryColor-light;
            border-bottom: 1px solid $secondaryColor-light;
            width: 50vw;
            line-height: 40px;
            position: relative;

            i {
                position: absolute;
                left: 15px;
                font-size: 35px;
                top: 7px;
            }

            .fa-info-circle {
                color: darkorange;
            }

            .fa-award {
                left: 20px;
                color: royalblue;
            }

            .fa-user-tie {
                color: #ffd500;
            }

            .title-info-separator {
                color: $secondaryColor-light-semiTransparent;
            }

            .title-seeCastButton {
                position: relative;
                color: $mainColor;
                float: right;
                margin-right: 15px;
            }

            .title-seeCastButton:hover::before, .title-seeCastButton:focus::before {
                position: absolute;
                left: -20px;
                font-family: "Font Awesome 5 Free";
                content: "\f101";
                width: 10px;
                height: 100%;
                color: $mainColor;
                font-weight: 900;
                font-size: 17px;
                animation: .3s fadeIn;
            }

            .title-stars{
                max-width:70%;
            }
        }

        .title-mainData {
            display: inline-block;
            width: 60vw;
            padding: 40px;
            vertical-align: top;
            padding-top: 20px;
            padding-left: 60px;
        }


        .rating-wrap {
            position: relative;
            margin-right: 25px;
        }

        .title-rating {
            /*            vertical-align: 40%;*/
            position: relative;
            font-size: large;
            color: white;
            /*            padding: 7px;*/
            /*margin-right: 15px;*/
            z-index: 1;
        }

        .title-rating-icon {
            position: absolute;
            font-family: "Font Awesome 5 Free";
            content: "\f005";
            color: $starColor;
            font-weight: 900;
            font-size: 50px;
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 0;
        }
    }

    .userCollections-buttons {
        position: absolute;
        top: 50px;
        right: 50px;
        max-width: 23vw;
        border-radius: 10px;
        overflow: hidden;
    }

    .userCollections-buttons {
        input, button, a {
            all: unset;
            cursor: pointer;
            width: 100%;
        }

        button, a, form {
            display: block;
            padding: 12px;
            font-size: 20px;
            font-weight: 700;
            text-align: left;
            position: relative;
            padding-left: 52px;

            i {
                text-align: center;
                margin-right: 20px;
                font-size: 32px;
                vertical-align: bottom;
                position: absolute;
                left: 12px;
            }

            transition: all .3s ease;
        }

        form {
            padding: 0px;
        }

        .bg-watchlist {
            color: rgb(253, 126, 20);
            background-color: rgba(253, 126, 20, 0.4);
        }

        .bg-watchlist:hover {
            background-color: rgba(253, 126, 20, 0.6);
        }

        .bg-favourites {
            color: rgb(227, 27, 35);
            background-color: rgba(227, 27, 35, 0.4);
        }

        .bg-favourites:hover {
            background-color: rgba(227, 27, 35, 0.6);
        }

        .bg-share {
            color: rgb(27, 227, 214);
            background-color: rgba(27, 227, 214, 0.4);
            width: 100%;
            text-align: left;
        }

        .bg-share:hover {
            background-color: rgba(27, 227, 214, 0.6);
        }

        .bg-trailer {
            color: rgb(128, 255, 0);
            width: 100%;
            text-align: left;
            background-color: rgba(128, 255, 0, 0.4);
        }

        .bg-trailer:hover {
            background-color: rgba(128, 255, 0, 0.5);
        }

        .bg-imdb {
            color: #f5c518;
            background-color: rgb(18, 18, 18);
        }
    }
    p{
        margin-top:20px;
        margin-bottom:20px;
        color:$textColor;
        width:50vw;
        font-size:large;
    }
}
.breadcrumb{
    margin-bottom:0px;
}


.slider-wrap {
    align-items: center;
    display: flex;
    height: 300px;
    justify-content: center;
}

.slider {
    background: white;
    height: 250px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100vw;
    margin-left: -4vw;
    margin-right: -4vw;
}
/*
.slider::before, .slider::after {
    background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 100px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}*/

.slider .slide-track {
    animation: scroll 4s linear infinite;
    display: flex;
    width: calc(250px * 40);
}

.slider .slide {
    height: 250px;
    width: 250px;
}


.slide:nth-child(1), .slide:nth-child(10) {
    background-color: yellow;
}

.slide:nth-child(2), .slide:nth-child(11) {
    background-color: coral;
}

.slide:nth-child(3), .slide:nth-child(12) {
    background-color: blue;
}

.slide:nth-child(4), .slide:nth-child(13) {
    background-color: red;
}

.slide:nth-child(5), .slide:nth-child(14) {
    background-color: orange;
}

.slide:nth-child(6), .slide:nth-child(15) {
    background-color: purple;
}

.slide:nth-child(7), .slide:nth-child(16) {
    background-color: pink;
}

.slide:nth-child(8), .slide:nth-child(17) {
    background-color: navy;
}

.slide:nth-child(9), .slide:nth-child(18) {
    background-color: lime;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 20));
    }
}