/*$secondaryColor-light: #DAF3FF;
$secondaryColor-dark: #607999;
$mainColor: #ff4400;
$textColor: #FFF6F1;*/
/*$secondaryColor-light: #A4AE9E;
$secondaryColor-dark: #40493B;
$mainColor: #4DFF00;
$textColor: #F2FCEC;*/
/*$secondaryColor-light: #d2c4ae;
$secondaryColor-dark: #403535;
$mainColor: #294023;
$textColor: #ffeccf;*/
/*$secondaryColor-light: #006E61;
$secondaryColor-dark: #522700;
$mainColor: #FCBA03;
$textColor: #DFE0DF;*/
/*$secondaryColor-light: #AEAC99;
$secondaryColor-dark: #494738;
$mainColor: #FFFF33;
$textColor: #FCFAEE;*/
/*$secondaryColor-light: #DFE0DF;
$secondaryColor-dark: #693B22;
$mainColor: #FF6700;
$textColor: #FCFAEE;*/
/*$secondaryColor-light: #9DB0A2;
$secondaryColor-dark: #3B4A3F;
$mainColor: #03FC90;
$textColor: #FCFAEE;*/
/*$secondaryColor-light: #121212;
$secondaryColor-dark: rgb(31,31,31);
$mainColor: rgb(245, 197, 24);
$textColor: #fcf7f7;*/
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0); } }

@keyframes slideInFromRight {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0); } }

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0); } }

@keyframes zoomIn-small {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.2); } }

@keyframes slideOutToLeft {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-120%); } }

@keyframes slideOutToRight {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(120%); } }

:root {
  --slidesCount: 0; }

body {
  /*background:none;*/
  /*background-color:$secondaryColor-light;*/
  /*background: #2C6E7A;*/
  background: linear-gradient(#00C6DF 0%, #00DACB 25%, #5EE9AB 50%, #AEF488 75%, #F9F871 100%);
  position: relative; }

.title-details-container {
  animation: fadeIn 1s;
  background-color: #364954;
  position: relative;
  padding-top: 50px; }
  .title-details-container .title-header {
    vertical-align: top;
    color: #E6F4F1;
    margin: 4vw;
    margin-top: 0px;
    animation: slideInFromLeft 1s; }
    .title-details-container .title-header img {
      width: 213.6px;
      height: 320.4px; }
    .title-details-container .title-header h1 {
      vertical-align: top;
      display: inline-block;
      width: 50vw;
      padding: 20px;
      padding-bottom: 0px;
      padding-top: 0px;
      font-weight: 800;
      font-size: xx-large;
      border-bottom: 1px solid #99AEBB;
      line-height: 45px; }
      .title-details-container .title-header h1 .other-title {
        display: inline-block;
        font-size: large;
        padding-bottom: 15px;
        padding-left: 50px;
        color: #99AEBB;
        width: 50vw;
        line-height: normal; }
    .title-details-container .title-header h2 {
      font-size: large;
      padding-bottom: 15px;
      padding-left: 70px;
      color: #99AEBB;
      border-bottom: 1px solid #99AEBB;
      width: 50vw;
      line-height: 40px;
      position: relative; }
      .title-details-container .title-header h2 i {
        position: absolute;
        left: 15px;
        font-size: 35px;
        top: 7px; }
      .title-details-container .title-header h2 .fa-info-circle {
        color: darkorange; }
      .title-details-container .title-header h2 .fa-award {
        left: 20px;
        color: royalblue; }
      .title-details-container .title-header h2 .fa-user-tie {
        color: #ffd500; }
      .title-details-container .title-header h2 .fa-tag {
        color: #03fc17; }
      .title-details-container .title-header h2 .title-info-separator {
        color: rgba(153, 174, 187, 0.5); }
      .title-details-container .title-header h2 .title-seeCastButton {
        position: relative;
        color: #15AFE1;
        float: right;
        margin-right: 15px; }
      .title-details-container .title-header h2 .title-seeCastButton:hover::before, .title-details-container .title-header h2 .title-seeCastButton:focus::before {
        position: absolute;
        left: -20px;
        font-family: "Font Awesome 5 Free";
        content: "\f101";
        width: 10px;
        height: 100%;
        color: #15AFE1;
        font-weight: 900;
        font-size: 17px;
        animation: .3s fadeIn; }
      .title-details-container .title-header h2 .title-stars {
        max-width: 70%; }
    .title-details-container .title-header .title-mainData {
      display: inline-block;
      width: 60vw;
      padding: 40px;
      vertical-align: top;
      padding-top: 20px;
      padding-left: 60px; }
    .title-details-container .title-header .rating-wrap {
      position: relative;
      margin-right: 25px; }
    .title-details-container .title-header .title-rating {
      /*            vertical-align: 40%;*/
      position: relative;
      font-size: large;
      color: white;
      /*            padding: 7px;*/
      /*margin-right: 15px;*/
      z-index: 1; }
    .title-details-container .title-header .title-rating-icon {
      position: absolute;
      font-family: "Font Awesome 5 Free";
      content: "\f005";
      color: #f5c518;
      font-weight: 900;
      font-size: 50px;
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 0; }
  .title-details-container .userCollections-buttons {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 22vw;
    border-radius: 10px;
    overflow: hidden;
    animation: fadeIn 1s; }
  .title-details-container .userCollections-buttons input, .title-details-container .userCollections-buttons button, .title-details-container .userCollections-buttons a {
    all: unset;
    cursor: pointer;
    width: 100%; }
  .title-details-container .userCollections-buttons button, .title-details-container .userCollections-buttons a, .title-details-container .userCollections-buttons form {
    display: block;
    padding: 12px;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    position: relative;
    padding-left: 52px;
    transition: all .3s ease; }
    .title-details-container .userCollections-buttons button i, .title-details-container .userCollections-buttons a i, .title-details-container .userCollections-buttons form i {
      text-align: center;
      margin-right: 20px;
      font-size: 32px;
      vertical-align: bottom;
      position: absolute;
      left: 12px; }
  .title-details-container .userCollections-buttons form {
    padding: 0px; }
  .title-details-container .userCollections-buttons .bg-watchlist {
    color: #fd7e14;
    background-color: rgba(253, 126, 20, 0.4); }
  .title-details-container .userCollections-buttons .bg-watchlist:hover {
    background-color: rgba(253, 126, 20, 0.6); }
  .title-details-container .userCollections-buttons .bg-favourites {
    color: #e31b23;
    background-color: rgba(227, 27, 35, 0.4); }
  .title-details-container .userCollections-buttons .bg-favourites:hover {
    background-color: rgba(227, 27, 35, 0.6); }
  .title-details-container .userCollections-buttons .bg-share {
    color: #1be3d6;
    background-color: rgba(27, 227, 214, 0.4);
    width: 100%;
    text-align: left; }
  .title-details-container .userCollections-buttons .bg-share:hover {
    background-color: rgba(27, 227, 214, 0.6); }
  .title-details-container .userCollections-buttons .bg-trailer {
    color: #80ff00;
    width: 100%;
    text-align: left;
    background-color: rgba(128, 255, 0, 0.4); }
  .title-details-container .userCollections-buttons .bg-trailer:hover {
    background-color: rgba(128, 255, 0, 0.5); }
  .title-details-container .userCollections-buttons .bg-imdb {
    color: #f5c518;
    background-color: #121212; }
  .title-details-container p {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #E6F4F1;
    width: 70vw;
    font-size: larger;
    line-height: 37px; }

.breadcrumb {
  margin-bottom: 0px; }

@keyframes sliderScroll {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-250px * calc(var(--slidesCount)/2))); } }

.title-details-mainContent {
  background-color: #E6F4F1;
  padding-top: 1px;
  transition: background-color 250ms ease;
  animation: slideInFromRight 1s; }
  .title-details-mainContent .slider {
    height: 250px;
    margin: auto;
    /*        margin-top: 75px;*/
    width: 110vw;
    margin-left: -10vw;
    display: grid;
    place-items: left; }
  .title-details-mainContent .slider:before {
    content: '';
    width: 15vw;
    position: absolute;
    left: -15vw;
    background-color: #364954;
    height: 100%;
    z-index: 3; }
  .title-details-mainContent .slide-track {
    display: flex;
    width: calc(250px*calc(var(--slidesCount)));
    animation: sliderScroll 60s linear infinite; }
  .title-details-mainContent .slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 10px;
    /*        perspective: 100px;*/
    text-align: center;
    align-content: center;
    display: inline-flex;
    vertical-align: central;
    justify-content: center;
    /*        img:hover {
            transform: translateZ(15px)
        }*/ }
    .title-details-mainContent .slide img {
      max-width: 230px;
      max-height: 180px;
      transition: transform 1s;
      align-self: center;
      vertical-align: central; }
  .title-details-mainContent .stars-data {
    display: flex;
    position: relative;
    padding-top: 100px;
    background-color: #E6F4F1;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 125px; }
    .title-details-mainContent .stars-data .flex-col {
      flex-grow: 1;
      text-align: center; }
    .title-details-mainContent .stars-data .actor-data-card {
      all: unset;
      cursor: pointer;
      width: 350px;
      height: 500px;
      display: inline-block; }
    .title-details-mainContent .stars-data .card {
      width: 350px;
      height: 400px;
      margin-top: 100px;
      border-radius: 16px;
      margin-left: auto;
      margin-right: auto;
      background-color: rgba(153, 174, 187, 0.5);
      border: 5px solid #E6F4F1;
      color: #364954;
      transition: border-color .5s ease, transform .5s ease; }
    .title-details-mainContent .stars-data .img-name {
      width: 100%;
      height: 210px;
      margin-left: auto;
      margin-right: auto;
      margin-top: -75px;
      border-bottom: 5px solid #15AFE1; }
    .title-details-mainContent .stars-data .img-name img {
      display: block;
      width: 140px;
      height: 140px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 70px;
      border: 5px solid #15AFE1;
      background-color: #15AFE1; }
    .title-details-mainContent .stars-data .img-name h2 {
      text-align: center;
      padding: 16px; }
    .title-details-mainContent .stars-data img {
      object-fit: cover; }
    .title-details-mainContent .stars-data p {
      width: 350px;
      padding: 15px;
      color: #364954;
      font-size: large;
      overflow: hidden;
      margin-top: 5px; }
    .title-details-mainContent .stars-data .actor-data-card:hover .card {
      border-color: #15AFE1;
      transform: scale(1.05); }
    .title-details-mainContent .stars-data .redirect-button-bottom-right {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: #364954;
      clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
      padding: 10px;
      padding-left: 35px;
      font-size: larger;
      color: #15AFE1;
      font-weight: 700; }
    .title-details-mainContent .stars-data .crew-names {
      margin-top: 70px; }
    .title-details-mainContent .stars-data .crew-info {
      width: 100vw;
      display: block;
      margin: 0;
      color: #364954;
      font-size: 25px;
      padding: 10px;
      padding-left: 35px;
      line-height: 45px; }
      .title-details-mainContent .stars-data .crew-info .fas {
        margin-right: 10px; }
      .title-details-mainContent .stars-data .crew-info .fa-pen {
        color: #1f75ff; }
      .title-details-mainContent .stars-data .crew-info .fa-video {
        color: #87ff3d; }
      .title-details-mainContent .stars-data .crew-info .fa-user-tie {
        color: #ff4400; }
  .title-details-mainContent .topic-separator {
    display: inline-block;
    width: 400px;
    height: 68px;
    text-align: center;
    clip-path: polygon(30% 100%, 70% 100%, 100% 0, 0 0);
    background-color: #364954;
    position: absolute;
    padding: 20px;
    padding-top: 0px;
    top: -1px;
    left: 50%;
    margin-left: -200px;
    color: #15AFE1; }
  .title-details-mainContent .topic-separator:hover {
    text-decoration: none; }
  .title-details-mainContent a.topic-separator:hover:before {
    position: absolute;
    top: 10px;
    left: 24%;
    font-family: "Font Awesome 5 Free";
    content: "\f101";
    width: 10px;
    height: 100%;
    color: #15AFE1;
    font-weight: 600;
    font-size: 27px;
    animation: .3s fadeIn; }
  .title-details-mainContent .rating-data {
    display: flex;
    padding-top: 150px;
    padding-bottom: 100px;
    background-color: #15AFE1;
    position: relative;
    font-family: sans-serif; }
    .title-details-mainContent .rating-data .topic-separator {
      background-color: #E6F4F1; }
    .title-details-mainContent .rating-data .row {
      text-align: center;
      width: 100vw; }
    .title-details-mainContent .rating-data .fas {
      color: #f5c518; }
    .title-details-mainContent .rating-data .stars {
      position: relative;
      font-size: 0;
      display: inline-block;
      overflow: hidden;
      --rating: 0%; }
    .title-details-mainContent .rating-data .fa-star {
      color: #f5c518;
      font-size: x-large; }
    .title-details-mainContent .rating-data .stars:after {
      content: '';
      color: white;
      height: 100%;
      width: 100%;
      left: var(--rating);
      position: absolute;
      background-color: #15AFE1; }
    .title-details-mainContent .rating-data h2 {
      font-size: 75px;
      font-weight: 800;
      color: #E6F4F1;
      margin-bottom: 30px; }
    .title-details-mainContent .rating-data .comment {
      color: #E6F4F1;
      width: 100%;
      opacity: 0.8;
      font-size: x-large; }
    .title-details-mainContent .rating-data .rating-separator {
      padding-top: 80px;
      font-size: xx-large;
      color: #E6F4F1;
      opacity: 0.8;
      font-weight: 800; }
    .title-details-mainContent .rating-data .votes-count {
      font-size: 75px;
      font-weight: 800;
      color: #E3F2FF;
      margin-bottom: 30px; }
    .title-details-mainContent .rating-data .votes-count-container {
      font-size: 50px;
      font-weight: 700;
      color: #E3F2FF; }

.darkTheme {
  /*    .title-details-mainContent {
        background-color: $secondaryColor-light-semiTransparent;
    }*/ }
