@import "../Utility/_colors.scss";
@import "../Shared/animations.scss";
@import "../Utility/_timings.scss";
$header-height:420px;
.ranking-header {
    position: relative;
    height: $header-height;

    z-index:-1;
    img {
        position: absolute;
        z-index: -2;
        left: 28vw;
        height: $header-height;
        width: 1620px;
    }
}
.ranking-title {
    height: $header-height;
    width: 1267px;
    clip-path: polygon(0 0, 63% 0, 53% 100%, 0 100%);
    background-color: $secondaryColor-light;
    display: inline-block;
    position: absolute;
    z-index: -1;
    padding: 30px;
    transition:background-color $changeThemeAnimationTime ease;
    h1 {
        font-family: 'Trebuchet MS';
        font-size: 70px;
        font-weight: 900;
        color: $secondaryColor-dark;
        display: inline-block;
        width: 50%;
        transition:color $changeThemeAnimationTime ease;
    }
}

.ranking-container {
    background-color: white;
    border: 3px solid $mainColor;
    text-align: center;
    padding-bottom: 0px;
    line-height: 0px;
    padding-left: 0px;
    padding-right: 0px;
    animation: $renderAnimationTime slideInFromLeft;

    .table {
        display: table;
        border-collapse: unset;
        margin-bottom:0px;
        .table-row {
            display: table-row;
            width: 100%;
            max-height: 140px;
        }

        .table-cell {
            display: table-cell;
            border-bottom: 1.5px solid $mainColor;
            height: 140px;
        }

        .table-text {
            text-align: left;
            padding-left: 35px;
            width: 55%;
            height: 140px;
            line-height: 0px;
        }

        .table-image {
            width: 5%;
        }

        .table-rank {
            width: 10%;
        }

        .table-titleRating {
            width: 15%;
        }

        .fa-star {
            color: $starColor;
            margin-right: 7px;
        }



        a {
            text-decoration: none;
            color: unset;
            display: inline-block;
            width: 100%;
            padding-top: 1.5px;
            max-height: 141.5px;
            transition: background-color $rankingHoverAnimationTime ease, color $changeThemeAnimationTime ease;
        }

        a:hover {
            background-color: $secondaryColor-light-semiTransparent;
        }
    }

    transition: background-color $changeThemeAnimationTime ease;
}
.table a:last-child .table-cell{
    border-bottom:0px;
}
    .darkTheme {
        .ranking-title {
            background-color: #008CBC;

            h1 {
                color: $textColor;
            }
        }

        .ranking-container {
            background-color: $secondaryColor-dark;
            border: 3px solid $mainColor;

            .table {
                color: $textColor;
            }
        }

        .table {
            .table-cell {
                border-bottom: 1.5px solid $mainColor;
            }
        }
    }
/* typical phone screen resolution */
@media only screen and (max-width : 667px) {
    .ranking-container {
        border-left: 1px solid $mainColor;
        border-right: 1px solid $mainColor;

        .table {
            .table-text {
                line-height: 16px;
            }
        }
    }
    .ranking-title {
        h1{
            width:100vw;
            word-break:break-word;
        }
    }
}

    /*.ranking-title-additional-underlay {
    width: 320px;
    height: 300px;
    clip-path: polygon(42.5% 0, 68.5% 0, 22.5% 100%, 0% 100%);
    background-color: $mainColor;
    display: inline-block;
    position:absolute;
    left:1290px;
}

.ranking-title-additional {
    width: 300px;
    height: 300px;
    clip-path: polygon(46% 0, 66% 0, 18% 100%, 0% 100%);
    background-color: $secondaryColor-light;
    display: inline-block;
    position:absolute;
    margin-left: 1300px;
}
*/