/*$secondaryColor-light: #DAF3FF;
$secondaryColor-dark: #607999;
$mainColor: #ff4400;
$textColor: #FFF6F1;*/
/*$secondaryColor-light: #A4AE9E;
$secondaryColor-dark: #40493B;
$mainColor: #4DFF00;
$textColor: #F2FCEC;*/
/*$secondaryColor-light: #d2c4ae;
$secondaryColor-dark: #403535;
$mainColor: #294023;
$textColor: #ffeccf;*/
/*$secondaryColor-light: #006E61;
$secondaryColor-dark: #522700;
$mainColor: #FCBA03;
$textColor: #DFE0DF;*/
/*$secondaryColor-light: #AEAC99;
$secondaryColor-dark: #494738;
$mainColor: #FFFF33;
$textColor: #FCFAEE;*/
/*$secondaryColor-light: #DFE0DF;
$secondaryColor-dark: #693B22;
$mainColor: #FF6700;
$textColor: #FCFAEE;*/
/*$secondaryColor-light: #9DB0A2;
$secondaryColor-dark: #3B4A3F;
$mainColor: #03FC90;
$textColor: #FCFAEE;*/
/*$secondaryColor-light: #121212;
$secondaryColor-dark: rgb(31,31,31);
$mainColor: rgb(245, 197, 24);
$textColor: #fcf7f7;*/
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0); } }

@keyframes slideInFromRight {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0); } }

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0); } }

@keyframes zoomIn-small {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.2); } }

@keyframes slideOutToLeft {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-120%); } }

@keyframes slideOutToRight {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(120%); } }

.ranking-header {
  position: relative;
  height: 420px;
  z-index: -1; }
  .ranking-header img {
    position: absolute;
    z-index: -2;
    left: 28vw;
    height: 420px;
    width: 1620px; }

.ranking-title {
  height: 420px;
  width: 1267px;
  clip-path: polygon(0 0, 63% 0, 53% 100%, 0 100%);
  background-color: #99AEBB;
  display: inline-block;
  position: absolute;
  z-index: -1;
  padding: 30px;
  transition: background-color 250ms ease; }
  .ranking-title h1 {
    font-family: 'Trebuchet MS';
    font-size: 70px;
    font-weight: 900;
    color: #364954;
    display: inline-block;
    width: 50%;
    transition: color 250ms ease; }

.ranking-container {
  background-color: white;
  border: 3px solid #15AFE1;
  text-align: center;
  padding-bottom: 0px;
  line-height: 0px;
  padding-left: 0px;
  padding-right: 0px;
  animation: 1s slideInFromLeft;
  transition: background-color 250ms ease; }
  .ranking-container .table {
    display: table;
    border-collapse: unset;
    margin-bottom: 0px; }
    .ranking-container .table .table-row {
      display: table-row;
      width: 100%;
      max-height: 140px; }
    .ranking-container .table .table-cell {
      display: table-cell;
      border-bottom: 1.5px solid #15AFE1;
      height: 140px; }
    .ranking-container .table .table-text {
      text-align: left;
      padding-left: 35px;
      width: 55%;
      height: 140px;
      line-height: 0px; }
    .ranking-container .table .table-image {
      width: 5%; }
    .ranking-container .table .table-rank {
      width: 10%; }
    .ranking-container .table .table-titleRating {
      width: 15%; }
    .ranking-container .table .fa-star {
      color: #f5c518;
      margin-right: 7px; }
    .ranking-container .table a {
      text-decoration: none;
      color: unset;
      display: inline-block;
      width: 100%;
      padding-top: 1.5px;
      max-height: 141.5px;
      transition: background-color 0.5s ease, color 250ms ease; }
    .ranking-container .table a:hover {
      background-color: rgba(153, 174, 187, 0.5); }

.table a:last-child .table-cell {
  border-bottom: 0px; }

.darkTheme .ranking-title {
  background-color: #008CBC; }
  .darkTheme .ranking-title h1 {
    color: #E6F4F1; }

.darkTheme .ranking-container {
  background-color: #364954;
  border: 3px solid #15AFE1; }
  .darkTheme .ranking-container .table {
    color: #E6F4F1; }

.darkTheme .table .table-cell {
  border-bottom: 1.5px solid #15AFE1; }

/* typical phone screen resolution */
@media only screen and (max-width: 667px) {
  .ranking-container {
    border-left: 1px solid #15AFE1;
    border-right: 1px solid #15AFE1; }
    .ranking-container .table .table-text {
      line-height: 16px; }
  .ranking-title h1 {
    width: 100vw;
    word-break: break-word; } }

/*.ranking-title-additional-underlay {
    width: 320px;
    height: 300px;
    clip-path: polygon(42.5% 0, 68.5% 0, 22.5% 100%, 0% 100%);
    background-color: $mainColor;
    display: inline-block;
    position:absolute;
    left:1290px;
}

.ranking-title-additional {
    width: 300px;
    height: 300px;
    clip-path: polygon(46% 0, 66% 0, 18% 100%, 0% 100%);
    background-color: $secondaryColor-light;
    display: inline-block;
    position:absolute;
    margin-left: 1300px;
}
*/
