@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0); } }

@keyframes slideInFromRight {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0); } }

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0); } }

@keyframes zoomIn-small {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.2); } }

@keyframes slideOutToLeft {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-120%); } }

@keyframes slideOutToRight {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(120%); } }

@keyframes slideOutToRightNotice {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(100%); } }

.title-images-container {
  text-align: center; }
  .title-images-container a {
    margin-top: 15px;
    text-align: left;
    display: block;
    color: #15AFE1; }
  .title-images-container .image-card {
    display: inline-block;
    position: relative;
    margin: 12px;
    border-radius: 10px;
    overflow: hidden; }
    .title-images-container .image-card img {
      max-width: 475px;
      max-height: 375px; }
    .title-images-container .image-card h3 {
      position: absolute;
      top: 0;
      padding: 12px;
      color: #E6F4F1;
      height: 100%;
      width: 100%;
      background: black;
      background: linear-gradient(0deg, transparent 0%, #364954 70%, #364954 100%);
      opacity: 0;
      transition: opacity .5s ease;
      text-align: left; }
  .title-images-container .image-card:hover h3 {
    opacity: 1; }

.darkTheme .title-images-container h3 {
  color: #364954;
  background: black;
  background: linear-gradient(0deg, transparent 0%, #99AEBB 60%, #99AEBB 100%); }

@media only screen and (max-width: 470px) {
  .title-images-container .image-card img {
    max-width: 90vw; } }
